A visitor to <a href="<%= @params[:company_mobile_url] %>">your YoMobi site</a> left you a call back request:
<br />
<br />

Name: <%=@params[:customer_name] %>
<br />
<br />
Phone: <%=@params[:customer_phone] %>
<br />
<br />
Message: <%= @params[:customer_message] %>
<br />
<br />

Thank You,
<br />
YoMobi
