<p><%= @params[:content] %></p>

<p>You are receiving this email because you opted to receive emails from <%= @params[:company_name] %> through their mobile site.</p>

<p>To opt out of further emails from this company, visit <a href="<%= @params[:short_url] %>">click here.</a></p>
