The email associated with <%= link_to 'your YoMobi site', @mobile_url %> has been changed from <%= @old_email %> to <%= @new_email %>. Next time you log in to YoMobi, your login email will be: <%= @new_email %>.
<br />
<br />
Thank You,
<br />
Yomobi Support
<a href="http://www.yomobi.com">YoMobi.com</a>
<br />