<%=t('account.username_changed_email.message', :mobile_url => @mobile_url, :old_email => @old_email, :new_email => @new_email)%>
<br />
<br />
<p>
<%==t'account.username_changed_email.closing'%>
<br />
<%==t'account.username_changed_email.signature'%>
<br />
<%==t'account.username_changed_email.contact'%>
</p>
