<%= @params[:content] %>
<br />
<br />

You are receiving this email because you opted to receive emails from <%= @params[:company_name] %> through their mobile site.
<br />
<br />

To opt out of further emails from this company, <a href="<%= @params[:short_url] %>">click here.</a>
