Welcome to the mobile-version of your website. This complements the functionality of your existing website to easily view on mobile phones. All desktop websites are not optimized to view on smart phones and will take longer to load pages to it, with your new Yomobi site, it is now easy. You can reach and more customers on their mobile device!
<br />
<br />

We have provided a short HTML code ready for you to implement on the index page of your full website. Once implemented, your customers can seamlessly view the mobile version of your site if they input your full website address on their mobile phones. You can access this code under the <a href="http://www.yomobi.com/builder/main#edit-settings">General Settings</a> link of your Mobile Site Builder.
<br />
<br />

Start advertising your full website and you have now confidence that this will load easily on mobile devices.
<br />
<br />

To access your account, <a href="http://yomobi.com/">follow this link</a>.
<br />
<br />

To access your Mobile Redirect HTML code, <a href="http://www.yomobi.com/builder/main#edit-settings">Follow this link</a>.
<br />
<br />

Best Wishes,<br />
YoMobi Team<br />
<a href="mailto:support@yomobi.com">support@yomobi.com</a>
