Your friend, <%= @params[:name_from] %>, recommends this mobile site to you: <a href="<%= @params[:company_mobile_url] %>"><%= @params[:company_mobile_url] %></a>
<br />
<br />

Thank You,
<br />
Yomobi
<br />
<br />
Create your own free mobile site at: <a href="http://www.yomobi.com">YoMobi.com</a>
