<p>
  Your friend <%= @params[:friend_name] %> with email address as <%= @params[:email_from] %>, recommends this mobile site to you: <a href="<%= @params[:company_mobile_url] %>"><%= @params[:company_mobile_url] %></a>
</p>

<p>Mobilize yourself or your business and make it accessible to mobile devices for free. Free account at: <a href="http://www.yomobi.com">YoMobi.com</a></p>
