.social-gmail onclick="document.location = 'mailto:?subject=%20Get%20mobilized%20with%20YoMobi.&body=Build%20your%20own%20free%20mobile%20site%20at%20http%3A%2F%2Fwww.yomobi.com.'" 
    
.social-google onclick="window.open('https://plus.google.com/share?url=http://www.yomobi.com&content=The%20world%20is%20on%20the%20go.%20Get%20mobilized%20with%20YoMobi.')"
    
.social-stumble onclick="window.open('http://www.stumbleupon.com/submit?url=http://www.yomobi.com&title=The%20world%20is%20on%20the%20go.%20Get%20mobilized%20with%20YoMobi.')"
    
.social-linkdin onclick="window.open('http://tinyurl.com/6nxmy3r')"
    
.social-twitter onclick="window.open('http://twitter.com/youmobilized')"
    
.social-facebook onclick="window.open('http://facebook.com/yomobi')"
    

