@import 'constants'
@import dbx.css

body
  margin: 0
  padding: 0
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif
  font-size: 11px
  overflow-y: scroll

#topline-notice
  background: $highlight-color
  text-align: center
  -webkit-box-shadow: #9C9C9C 0 1px 15px
  -moz-box-shadow: 0 1px 15px #9C9C9C
  border-bottom: 1px solid #1D4088
  p.notice, p.alert, p.error
    margin: 0
    text-align: center
    font-size: 20px
    line-height: 20px
    font-weight: bold
    padding: 10px 0

p.error
  color: #F03D25

#page-container
  width: $page-width
  margin: 0 auto

.main-btn
  background: #5B74A8
  border: 1px solid
  border-color: #29447E #29447E #1A356E
  &:hover
    cursor: pointer
  .content
    background: #5B74A8
    padding: 2px 6px 3px
    margin: 0
    border: 1px solid #5B74A8
    border-top-color: #8A9CC2
    color: #fff
    font-weight: bold
    cursor: pointer
  .content:active
    background: #4F6AA3
    border-color: #4F6AA3

.alt-btn
  background: #eee
  border: 1px solid
  border-color: #999
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px
  &:hover
    cursor: pointer
  .content
    padding: 3px 6px 4px
    color: #333
    font-weight: bold
  .content:active
    background: #DDDDDD

.loader
  width: 16px
  height: 11px
  background: url(/images/ajax-loader.gif)

.checkmark
  width: 16px
  height: 16px
  background: url(/images/checkmark.png)

.home-icon-placeholder
  @extend .home-icon
  padding: 10px 8px
  border: 1px dashed #000

.lfloat
  float: left

.rfloat
  float: right

.clearfix
  clear: both

.lclear
  clear: left

.rclear
  clear: right
