@import "constants";
@import "dbx.css";

.pretty-button {
  background: #4AA54A;
  border: 1px solid #2E662E;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .3);
  color: white;
  display: block;
  float: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  cursor: pointer;
}

.easy-button {
  color: white !important;
  font-size: 20px;
  line-height:28px;
}

.arrow-button {
  background: #a5b2c1;
  border: 1px solid #707883;
  color: #424252;
  font-size: 24px;
  padding: 10px 2px 9px 2px; 
  margin: 0px 0px 8px 0px;
}

select {
  font-size: $font-size-select;
}

body {
  margin: 0;
  padding: 0;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: $font-size-body;
  color: #333; }

input[type=file] {
  width: 250px;
  padding: 2px;
  background: #fff;
}

input[type=button] {
  font-size:$font-size-input-button;
  padding: 2px;
}

button[type=button] {
  font-size:$font-size-button;
  padding: 6px;
}

input[type=checkbox] {
  margin-left: 0px;
}

.opt-in-select {
  label { 
    margin-bottom: 6px; 
    max-width: 90%; 
  }
}

.explanation {
  background: #e4edf8; 
  padding: 8px 8px 8px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
}

label {
  display: inline-block;
  font-size: $font-size-label;
  padding: 0px 3px 2px 2px;
  white-space: nowrap;
}

input[type=text], 
input[type=password], 
select, textarea {
  border: 1px solid #BDC7D8;
  padding: 3px;
}

input[type=file] {
  background: none;
}

textarea {
  width: 354px;
  height: 6em;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: $font-size-textarea; 
  resize: none; }

input[type=text], input[type=password] {
  width: 354px;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  font-size: $font-size-input;
 }

em {
  font-size: $font-size-em; }

h3 {
  .help-bubble img { position: relative; top: 2px; }
}

p {
  margin: 0px 0px 0px 0px;
  padding: 0px 4px 0px 0px; 
  line-height: 130%;
  font-size: $font-size-p;
}

.follower-section {
  p { margin-bottom: 6px; }
  form { padding-top: 12px; }
}
  
a, a:visited {
  color: #3b5998;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a img {
  border: none; }

hr {
  color: #cccccc; }

#topline-notice {
  display: none;
  position: fixed;
  width: 100%;
  padding-bottom: 10px;

  overflow: hidden;
  background: $highlight-color;
  border-bottom: 1px solid #1d4088;
  -webkit-box-shadow: #333 0 1px 15px;
  -moz-box-shadow: 0 1px 15px #333;
  text-align: center;

  .notice-icon {
    position: relative;
    top: 4px;
    left: -6px;
  }

  .x-icon {
    width: 16px; height: 16px;
    padding: 4px;
    margin: 11px 14px 0 0;
    background: darken($highlight-color,50%) url(/images/ui/x.png) 50% 50% no-repeat;
    float: right;
    cursor: pointer;
  }

  p.notice, p.alert, p.error {
    margin: 3px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 0 5px 0;
  }
}

p.error {
  color: #f03d25; }

p.success {
  color: #008800; }

#logo, #logo:visited {
  float: left;
  color: $header-font-color;
  text-decoration: none;
}

#header.signed-in {
  padding-top: 10px;
  background: url(/images/bg-header.png);
  color: $header-font-color;
  height: 31px;
  .content {
    width: $page-width;
    margin: 0 auto; }
  #logo, #logo:visited {
    font-size: 2em;
    padding-left: 12px;
    width: $sidebar-width - 12; }
  #nav {
    float: left;
    width: $content-width - 2 - 1;
    height: 30px;
    border: 1px solid $secondary-color-border;
    border-bottom: none;
    background: $secondary-color;
    text-align: right;
    a, a:visited {
      float: right;
      height: 23px;
      padding: 7px 10px 0;
      color: white;
      font-weight: bold;
      text-decoration: none; }
    a:hover {
      background-color: #6d86b7; } } }

#page-container {
  width: $page-width;
  margin: 0 auto; }

#page-container-wrapper.home {
  background: url(/images/bg-home.png) repeat-x;
  padding-bottom: 15px;
}

.center-box {
  width: 500px;
  margin: 20px auto;
  padding: 10px 20px;
  h2 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 4px;
    margin: 5px 0 5px 0; }
  h3 {
    margin: 5px 0 5px 0; }
  .content {
    padding: 10px 20px; }
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  .action-bar {
    padding: 10px 12px;
    background: #f2f2f2;
    border-top: 1px solid #cccccc; } }

.main-btn {
  background: #5b74a8;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e;
  &:hover {
    cursor: pointer; }
  .content {
    background: #5b74a8;
    padding: 2px 6px 3px;
    margin: 0;
    border: 1px solid #5b74a8;
    border-top-color: #8a9cc2;
    color: white;
    font-weight: bold;
    cursor: pointer; }
  .content:active {
    background: #4f6aa3;
    border-color: #4f6aa3; } }

.alt-btn {
  background: #eeeeee;
  border: 1px solid;
  border-color: #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 0px;
  &:hover {
    cursor: pointer; }
  .content {
    padding: 3px 6px 4px;
    color: #333333;
    font-weight: bold; }
  .content:active {
    background: #dddddd; } }

.loader {
  width: 16px;
  height: 11px;
  background: url(/images/ajax-loader.gif); }

.checkmark {
  width: 16px;
  height: 16px;
  background: url(/images/checkmark.png); }

.home-icon-placeholder {
  @extend .home-icon;
  padding: 10px 8px;
  border: 1px dashed black; }

#simpleTooltip {
  padding: 4px 4px 4px 8px;
  margin: 0;
  border: 1px solid #dd3c10;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: #ffebe8;
  max-width: 225px;
  font-size: $font-size-tooltip;
  color: #333333;  }

#simpleTooltip.help {
  background: #EDEFF4;
  border: 1px solid #1D4088;
}

#recaptcha_image {
  img {
    width: 210px !important;
    height: 40px !important;
    background:white;
    border: 1px solid #333;
    margin-bottom:10px; }
}

#recaptcha_container {
  border: 1px solid #b3b3b3;
  padding: 10px 2px 10px 10px;
  margin: 10px 0px 10px 0px;
  width: 220px !important;
  
  #recaptcha_label {
    white-space: nowrap;
  }
  a {
    position:relative;
    top:1px;
    font-size:10px;
  }
  #recaptcha_response_field { 
    width:207px !important;
  }
}

#footer {
  width: $page-width;
  border-top: 1px solid $light-border;
  margin: 20px auto;
  padding: 10px 10px 0;
  font-size: 12px;
 .copyright {
   float: left;
   margin: 5px 60px 0 40px;
  }
  .site-links {
    float: right;
    margin: 5px 30px 0 0;
    a, a:visited { color: #000; }
  }
  .languages {
    float: right;
    list-style: none;
    margin: 8px 25px 0 0;
    padding: 8px 10px 12px 0;
    border-top: 1px solid #b3b3b3;
    li {
      float: left;
      margin: 0 0 0 10px;
    }
  }
}


ul.fancy-selectable {
  background: #fff;
  border: 1px solid #b3b3b3;
  list-style: none;
  margin: 0;
  padding: 10px;
  li {
    padding: 0;
    border: 1px solid #b3b3b3;
    margin-bottom: 4px;
    cursor: pointer;
  }
  li.ui-selecting { background: #FECA40; }
  li.ui-selected { background: #F39814; color: white; }
}


.social-share {
  margin: 0;
  padding: 0 0 0 0;
  list-style: none;
  li {
    float: left;
    cursor: pointer;
    margin-right: 4px !important; } }

label.help { padding-bottom: 4px; }
.help-bubble { cursor: pointer; margin: 0px 4px; }

.hr {
  border-top: 1px solid $light-border;
  margin: 7px 0px 14px 0px; }

.blue {
  color: #1030d0; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }

.clearfix {
  clear: both;
  margin: 0; padding: 0; height: 0;
 }

.lclear {
  clear: left; }

.rclear {
  clear: right; }

.hide {
  display: none; }



/********************************************/
/* CSS for home & landing pages                       
/********************************************/

#webesity {
  table, td, th  {
    border: 0px;
    border-collapse: collapse;
    padding: 10px;
  }

  .left { float: left; }
  .word { 
    font-size: 3em;
    color:red; 
    font-weight: bold; 
    margin: 0 10px 10px 0;
  }
  .type, .pronunciation, .definition { font-weight: bold; }
  .pronunciation {  margin-top: 4px; }
  .definition, .use { margin: 0 30px; }

  img { height: 100%; margin-left: 30px;
  }
  .entry { background: #E8ECF5; }
  td.img { vertical-align: top; width: 40% }
  .marketing {
    p { margin-bottom: 10px; }
  }
}

/**********************/

#why_mobile {

  #container {
    width:1000px;
    height:500px;
    border:0px; 
    overflow:hidden;
    margin:auto;
  }

  #container iframe {
    width:1000px;
    height:600px;
    margin-left:-20px;
    margin-top:-150px;
    margin-right:-90px;  
    border:0;
  }
  
  h1 { padding-left: 0px !important; }
  h2 { margin-top: 1.5em; }
  .hilite { font-weight: bold; color: red; }
  .hilite-good, .hilite-good a { font-weight:bold;  color: green; }
  .hilite-warning, .hilite-warning a { font-weight:bold; color: red; }

  li { font-size: 14px; font-weight: bold; }
}

















