@import 'constants'

#builder-container
  background: #d0d0e8
  padding: 0 10px

#builder .widget-editor
  float: left
  width: $widget-editor-width - 20px - 20px
  padding: 10px
  .icon
    float: left
    width: 64px
    height: 64px
    background: no-repeat
  .name
    float: left
  .help-text
    clear: both
  .accept-btn
    float: right
  .remove-link
    float: right
    margin: 16px 6px 0 0
  .cancel-btn
    float: left
