@import 'constants'

#builder-container
  background: $light-bg-color
  border-top: 1px solid #B3B3B3
  padding: 20px 10px

#builder .widget-editor
  float: left
  width: $widget-editor-width - 20px - 20px
  padding: 10px
  .header
    height: 72px
    .icon
      float: left
      width: 64px
      height: 64px
      background: no-repeat
    .help-text
      padding: 0 20px 0 72px
      margin-top: 5px
  .edit-area
    padding: 20px 20px
    textarea, input[type=text]
      width: 98%
      font-size: 1.5em
    textarea
      padding: 8px
    input[type=text]
      padding: 0px 4px 8px 5px
  .action-bar
    padding: 12px 20px 0
  .accept-btn
    float: right
  .remove-link
    float: left
    margin: 4px 0 0 6px
  .cancel-btn
    float: left
  .loader
    display: none
    float: right
    margin: 5px 6px 0 0
  .checkmark
    display: none
    float: right
    margin: 4px 6px 0 0
  .widget-name
    padding: 0 0 0 72px
    font-size: 2.5em

#emulator .loader-overlay
  position: absolute
  width: 320px
  height: 480px
  background: url(/images/ui/overlay.png)
  .loader
    width: 64px
    height: 64px
    margin: 210px auto
    background: url(/images/ui/ajax-loader-large.gif)
  

