@import "constants";

// layout related
.ui-widget,
.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {  
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
}  

#jeditor-wrapper {
  .wysiwyg { 
    width: 364px; 
  }
  iframe { 
    width: 355px;
    max-width: 355px; 
  } 
}

div.wysiwyg ul.toolbar { 
  border-bottom: 0px !important; 
}


#sidebar {
  float: left;
  width: $sidebar-width;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 54px 0 10px 0;
    font-size: $font-size-ul; }
  .spacer {
    border-top: 1px solid #dddddd;
    margin: 5px 0; }
  .option {
    //height: 16px;
    padding: 3px 0 2px 4px;
    clear: left;
    .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin: -1px 4px 0 0;
      background: url(/images/test-icons.png); }
    &:hover {
      background-color: $highlight-color;
      cursor: pointer; } }
  .option.basic .icon {
    background-position: 0 0; }
  .option.config .icon {
    background-position: 0 -16px; }
  .option.builder .icon {
    background-position: 0 -32px; }
  .option.active {
    background-color: $highlight-color; }
  .home-icon {
    width: 200px;
    height: auto;
    padding: 1px 0 0px 5px;
    margin: 1px 0;
    cursor: pointer;
    .add { 
      visibility: hidden;
      margin-top: 2px;
    }
    .add.left {
      float: left;
      display:none;
    }
    .add.right {
      float: right;
    }
    .title {
      width: auto;
      margin-left: 0px;
      padding: 2.5px 0 0 4px;
      text-align: left;
      height: auto;
      font-weight: bold;
      font-size: $font-size-title;
      float: left;
      color: #333; }
    .icon {
      float: left;
      margin: 0;
      width: 18px;
      height: 18px; } }
  .home-icon:hover {
    background: url(/images/ui/yellowbg-small.png);
    .add { visibility: visible; }
  }
  .home-icon.singletonInUse {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    .add { visibility: hidden !important; }
  }
}

#sidebar .widgets {
  //height: $sidebar-widgets-height;
  padding-left: 2px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#content {
  float: left;
  border: 1px solid #b3b3b3;
  border-top: none;
  width: $content-width - 2px - 1px;
  h1 {
    padding-left: 10px;
    margin: 3px 0px 3px 0px; }
  .leaf-content h1 { padding-left: 0px; } }

// builder related

.ad-bar {
  display: none !important; }

.home-icon.editing {
  //background: url(/images/ui/highlight.png) no-repeat 0px 1px !important;
  background:  #a4bec6 no-repeat 0px 1px !important;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  .title {
    color: #333333;
    //font-weight: bold; 
  } 
}

.home-icon.invalid {
  .invalid-icon {
    position: relative;
    width: 32px;
    height: 32px;
    top: -94px;
    left: 43px;
    background: url(/images/ui/invalid-for-showing.png) no-repeat; } }

.home-icon.invalid.deactivated .invalid-icon {
  background-image: url(/images/ui/deactivated.png);
}

#builder-container {
  background: $light-bg-color;
  border-top: 1px solid #b3b3b3; }

#builder {
  .left, .right {
    & > .title {
      padding: 10px 0 10px 0;
      font-size: 1.75em;
      font-weight: bold;
      color: #000066; }
    & > .title-subtext {
      min-height: 30px;
      padding: 0 10px 5px 0; } 
    }
  .left {
    width: $content-width - $widget-editor-width;
    height: 100%;
    border-right: 1px solid #b3b3b3;
    padding: 0 0 10px 10px; 
    & > .title-subtext {
      font-weight: bold;
      color: #6D3F3A;
      background: #FEEFC0;
      padding: 2px 4px 2px 8px;
      margin: 0px 10px 1px 0px;
      img { 
        float: left;
        margin: 2px 6px 0 0; 
      }
    }
  }
  .right {
    & > .title {
      padding: 10px 15px 10px; }
    & > .title-subtext {
      padding-left: 10px;
    }
    width: $widget-editor-width - 10px - 1px - 3px;
    height: 100%;
    .title {
      padding-left: 14px; } } }

#builder-help {
  color: #203360;
  label {
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    margin: 15px 0px 3px 0px;
  }
  p.help-text { margin-bottom: 20px; }
  p { margin-bottom: 5px; }
  img { border: 2px solid #203360; }
  .first {  margin-left: -2px; }
  .or {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0px 8px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    table {
      margin:auto;
    }
    #l, #r {
      height:2px;
      width:150px;
      margin: 1px 6px 0px 6px;
      border-top:2px solid #203360;
    }
    #l {
      margin-left:3px;
    }
  }
}

#builder .widget-editor {
  width: $widget-editor-width - 17px - 17px;
  padding: 0px;
  margin: 0 auto;
  .header {
    height: 55px;
    margin: 0 auto;
    padding: $widget-editor-header-padding;
    .icon {
      float: left;
      width: 64px;
      height: 64px;
      background: no-repeat; }
    .help-text {
      position: relative;
      top: 4px; } 
  }
  .header.edit-tab-bar, .header.edit-settings {
    .help-text {
      padding-left: 0;
      cursor: auto; } 
  }
  .widget-name {
    padding: 2px 0px 2px 0px;
    font-size: 1.75em;
    word-wrap: break-word;
    .change-label {
      display: none;
      padding-left: 8px;
      color: #ff530d;
      font-size: 0.6em; }
    .help-bubble {
      float: right; }
    &.editable:hover {
      background: $highlight-color;
      cursor: pointer;
      .change-label {
        display: inline; } 
    }
  }
  .widget-name-edit {
    display: none;
    position: relative;
    left: 4px;
    input[type=text] {
      font-size: 1.5em;
      width: 250px; 
      margin-bottom: 0px;
      margin-left: -2px; 
      padding-top: 2px;
      padding-bottom: 2px; 
    } 
  }   
  
  .wtab {
    height: 35px;
    h2 {
      font-size: 16px;
      float: left;
      margin: 0px 0px 0px 0px; }
    h3 {
      float: left;
      clear: left;
      margin: 0px 10px 0px 0px;
    }
    select {
      float: left;
      position: relative;
      top: -3px;
    }}
  .logo {
    margin: 10px 0; }
  .edit-area {
    padding: 6px 0;
    margin: 0 auto; }
  .action-bar {
    padding: 12px 0 0;
    margin: 0 auto;
    border-top: 1px solid $light-border; }
  .accept-btn {
    float: right; }
  .remove-link {
    float: left;
    margin: 4px 0 0 6px; }
  .cancel-btn {
    float: left; }
  .loader {
    display: none;
    float: right;
    margin: 5px 6px 0 0; }
  .checkmark {
    display: none;
    float: right;
    margin: 4px 6px 0 0; }
  p.help-text .rename-link, p.help-text .edit-icon-link { display: none; }
  p.help-text.can-rename .rename-link { display: inline; }
  p.help-text.can-edit-icon .edit-icon-link { display: inline; }
}

#builder .follower-section {
  padding: 0 0 10px 10px;
}

#emulator-wrapper {
  float: left;
  width: 366px; // this is the width of the phone image
  margin-left: -5px;
  padding: 79px 0 64px 26px;
  background: no-repeat url(/images/phone.png);
}

#emulator {
  position: relative;
  height: 480px;
  background: $light-bg-color;
  overflow: hidden;
}

#emulator-scroller {
  width: 335px;
  height: 480px; }

#emulator.portrait {
  width: $emulator-width - 45;
  min-height: 480px; }

#builder .loader-overlay {
  position: absolute;
  z-index: 99;
  // top: 117px
  width: 320px + 4px;
  height: 480px + 8px;
  background: url(/images/ui/overlay.png);
  .icon {
    width: 64px;
    height: 64px;
    margin: 210px auto;
    background: url(/images/ui/ajax-loader-large.gif); } }

#builder .drophover-overlay {
  display: none;
  position: absolute;
  z-index: 98;
  width: 320px + 4px;
  height: 480px + 8px;
  background: url(/images/ui/overlay.png);
  .icon {
    width: 128px;
    height: 128px;
    margin: 170px auto 0;
    background: url(/images/ui/drophover.png); }
  .text {
    margin: 8px 0;
    color: white;
    text-align: center;
    font-size: 2em; } }

#emulator.drophover .drophover-overlay {
  display: block; }

#mobile-scroller {
  // ie7 requires position: relative
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 480px;
  width: 335px; }

.divider {
  border-top: 1px solid $light-border;
  margin: 10px 0; }

#builder .edit-area.edit-settings, 
#builder .edit-area.edit-advanced-settings {
  padding-top: 8px;
  .box {
    margin: 10px 0px 0px 0px;
    border: 2px solid #d0d7e3;
    padding: 8px;
    input[type=text] { width: 274px; margin-bottom: 5px; }
    textarea { width: 326px; margin: 0; }
  }
  .divider { 
    border-color: #d0d7e3; 
    margin: 5px 0px;
  }
  form {
    .action-bar {
      border-top: 2px solid #d0d7e3;
      padding-right: 0; 
      padding-top:8px; 
      margin-top:15px;
    }
  }
  .site-settings {
    input[type=text], textarea {
      width: 240px;
    }
    textarea { height: 4em; }
  }
  select { width: 245px; }
  .top { vertical-align: top; }
  .logo { margin: 3px 0px; }
  .site-name { padding-bottom: 10px; }
  .new-picture { width: 100%; }
}


.widget-editor .edit-area {
  label {
    white-space: normal;
  }
  input[name=hideWidget] {
    margin-top: 5px;
    margin-right: -2px;
  }
}

.wphoto-wrap {
  width: 100%;
  border: 1px solid #BDC7D8;
  margin: 10px 0;
  padding: 5px;
  label {
    font-weight: bold;
    font-size: 0.8em;
  }
  img {
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  img.ajax {
    position: relative;
    top: 3px;
    left: 4px;
  }
}
.wphoto-wrap.preview {
  td:first-child { text-align: center; width: 80% }
  button { cursor: pointer; }
}

.wphoto-wrap .selected-file {
  width: 120px;
  height: 1.25em;
  padding: 4px;
  margin-right: 4px;

  background: #fff url(/images/ui/blue-bar.png) no-repeat -500px 0;
  transition: background-position 2s;
  -moz-transition: background-position 2s;
  -webkit-transition: background-position 2s;
  -o-transition: background-position 2s;

  border: 1px solid #DFDFDF;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #E2E2E2;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  clear: left;
}

#dialog-confirm .wphoto-wrap {
  padding: 0px 4px 0px 4px;
}
#dialog-confirm.subcat {
  p.error {
    margin: 0 0 0 48px;
    padding: 1px 0 0 0;
  }
  .divider { margin-top: 38px; }
}

#builder .edit-area.hours {
  .double-time-input { margin: 30px 0px 10px 0px; }
  
  .double-time { margin-bottom: 10px; }
  .day-checkbox {
    float: left;
    width: 32px;
    margin-right: 10px;
    text-align: center; }
  .day-hours {
    display: block;
    clear: left;
    .day-name {
      float: left;
      width: 85px;
      margin-top: 2px;
      font-size: $font-size-day-name; }
    .day-enabled input[type=checkbox] {
      margin-top: 6px; }
    .times {
      float: left;
      height: 28px;
      padding-left: 5px;
      label {
        float: left;
        margin: 2px 4px 0px 4px;
        color: #7e7e7e;
        text-align: center;
      }
      .t1 {
        display: none;
        clear: left;
      }
      .closed {
        display: none;
        padding-top: 4px;
        font-weight: bold;
        color: #3B5998;
      }
    }
    input[type=text] {
      float: left;
      width: 65px;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-bottom: 2px; }
  }
  .day-hours.closed {
    .t1,.t0 { display: none !important; }
    .closed { display: block; }
  }
  .input-area.double-time {
    .t1 { display: block; }
    .times { height: 55px; }
  }
}

#builder .edit-area.calendar {
  .url {
    padding: 5px 0 20px;
    font-size: $font-size-url;
    word-wrap: break-word; } }

#builder .edit-area.category, #builder .edit-area.page_tree {

  .controls {
    height: 28px;
    border: 1px solid #b3b3b3;
    padding: 3px;
    background: rgb(192, 192, 192);
  }

  .controls.category {
    height: 66px; 
    hr {
      margin-top: 31px;
    }
  }

  .controls .button {
    height: 22px;
    padding: 6px 2px 0 22px;
    margin: 0 4px 0 0;
    border: 1px outset transparent;
    background-position: 3px 5px;
    background-repeat: no-repeat;
    vertical-align: center; 
    float: left;
    cursor: pointer;
  }

  .controls .button:hover {
    border: 1px outset rgb(224, 224, 224);
  }
  
  .button.back { 
    font-size: 30px;
    font-weight: bold;
    height: 64px;
    line-height: 58px;
    padding: 0px 6px;
  }

  .button.back.page { 
    height: 26px;
    line-height: 22px;
    padding: 0px 6px;
  }

  .button-separator {
    float: left;
    height: 28px;
    margin: 0 4px 0 0;
    padding: 0px 1px;
    border: none;
    background: gray;
  }

  .button-separator.back {
    height: 66px;
  }

  .button-separator.back.page {
    height: 28px;
  }

  .row-separator {
    height: 0px;
    border: 1px;
    border-style: inset;
    margin: 3px 0px;
    width: 324px;
    float: left;  
  }

  .button.add-cat {
    background-image: url(/images/ui/icon-folder-new.png);
  }
  .button.add-item {
    background-image: url(/images/ui/icon-item-new.png);
  }
  .button.add-rss-feed {
    background-image: url(/images/ui/icon-rss-new.png);
  }
  .button.rename {
    background-image: url(/images/ui/icon-rename.png);
    background-position: center;
  }
  .button.edit {
    background-image: url(/images/ui/icon-edit.png);
    background-position: center;
  }
  .button.delete {
    background-image: url(/images/ui/icon-delete.png);
    background-position: center;
  }

  ul.fancy-selectable {
    height: 290px;
    overflow: auto;
  }
  .nodes {
    .handle {
      float: right;
      padding: 6px 6px 0px 6px;
      cursor: move;
    }
    .icon {
      height: 24px;
      width: 16px;
      padding-left: 6px;
      float: left;
      background: transparent 50% 50% no-repeat;
    }
    .name {
      margin: 6px 0px 6px 3px;
      float: left;
      width: 260px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: no-wrap;      
      border-right: 1px solid #b3b3b3;
    }

    .icon.cat {
      background-image: url(/images/ui/icon-folder.png);
    }
    .icon.page, .icon.item {
      background-image: url(/images/ui/icon-item.png);
      background-position: 3px 6px;
    }

    .icon.rss-feed {
      background-image: url(/images/ui/icon-rss.png);
      background-position: 3px 6px;
    }
  }

  .icon-wrap {
    padding: 0 5px 0 0;
    img { width: 18px; height: 18px; }
  }

  .crumb-wrap {
    padding: 6px 6px 0 6px;
    height: 16px;
    overflow: hidden;
  }
  select {
    width: 360px;
    margin: 2px 0;
    height: 300px;
  }
  .arrows {
    float: right;
    padding: 5px 2px 0 0;
  }
  #jeditor-wrapper {
    width: 324px; } }

#builder .edit-area.link_fb {
  .current_link_label {
    font-size: $font-size-label-current-link; } }

#builder .edit-area.gmap {
  p.invalidForShowing {
    padding: 7px;
    border: 1px solid #dd3c10;
    background: #ffebe8;
    font-size: 14px; } }

#dialog-confirm {

  p { margin: 10px 0px 10px 0px; }
  label { padding: 0px 0px 1px 1px; }
  .add-btn, input[type=button] { 
    margin: 0px; 
    padding: 2px 8px 2px 8px;
  }

  input[type=text] {
    width: 97%;
    margin: 1px 0px 6px 0px; }
  textarea {
    margin-left: 1px;
    margin-right: 1px;
    width: 97%;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 5em; }
  .error {
    padding-top:9px; }
  .success {
    color: #008800;
    padding: 0px;
    margin-top: 23px;
    font-size: 90%;} }

#dialog-confirm.edit-icon {
  .icons {
    max-height: 235px;
    margin: 0 2px 8px -3px;
    padding: 10px 0 10px 0;
    border: 1px solid #ccc;
    overflow: auto;
        
    img {
      border: 2px solid #fff;
      padding: 1px;
      cursor: pointer;
      width: 40px; height: 40px;
    }
    img:hover { border: 2px solid $highlight-color; }
    img.selected {
      border: 2px dashed black;
    }
  }

  .selected-display {
    display: none;
  }
    
  label {
    font-size: 120%;
    position: relative;
    top: -20px;
    left: 10px;
  }

  .selected-label {
    font-size: 120%;
    float: left;
    margin: 4px 10px 0px 0px;
  }

  p { 
    font-size: 120%;
    padding: 4px 0px 0px 0px; 
  }

  table.change-icon-separator {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px 4px 0px;
    
    td.l {
      width: 5%;
      padding-left: 4px;
    }
    td.r { 
      width: 100%;
      padding-right: 16px;
    }
    div.label { 
      font-size: 120%;
      margin: 0px 4px 0px 2px;
      white-space: nowrap; 
    }
    div.l, div.r { 
      border-top: 4px solid $light-border; 
    }
  }
  
  table.first { margin-top: 0px; }

}

#dialog-confirm.jeditor-image {
  .preview img { max-width: 100%; max-height: 80px; vertical-align: middle; }
  input[name=size] {
    width: auto;
  }
}

#builder input[name="back"] {
  margin-right:16px;
  padding:4px;
  background: none;
}

//
// Add icons to the category-like widgets buttons
//

#builder input[name="add_cat"], 
#builder input[name="add_item"] {
  padding: 4px 4px 4px 25px; 
  width: auto;
  overflow: visible;
}

#builder input[name="add_cat"] {
  background: no-repeat 2% 50% url(/images/ui/new-folder-20.png);
}

#builder input[name="add_item"] {
  background: no-repeat 2% 50% url(/images/ui/new-item-20.png);
}


.wysiwyg {
  input[type=text] {
    width: 97%; }}

/* css for timepicker */
#ui-datepicker-div {
  border: 3px solid black; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }

.ui-timepicker-div td {
  font-size: 90%; }

#wname-test {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: auto;
  width: 68px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

// override mobile styling
#mobile-container {
  .company-info {
    .name, .logo, .slogan { cursor: pointer; }
  }
  .page .content.category, .page .content.page_tree {
    .item:hover {
      background-color: $highlight-color;
      cursor: pointer;
    }
  }
}

.color-picker {
  background: transparent url(/images/color-picker/select2.png) no-repeat;
  height: 36px;
  width: 72px;
  position: relative;
}
.color-picker div {
  position: absolute;
  top: 6px; left: 6px;
  width: 64px; height: 28px;
  background: url(/images/color-picker/select2.png) center;
}

div.plupload {
  cursor: pointer;
  input { cursor: pointer; }
}

.selected-file {
  cursor: pointer;
  button { cursor: pointer; }
}

button { cursor: pointer; }
button[disabled] {
  padding: 1px 3px 1px 3px;  
  cursor: auto;
}

button[name=pick_files] {
  cursor: pointer;
  padding: 1px 3px 1px 3px;
}
