$main-color: #3B5998
$header-font-color: #fff

$page-width: 960px
$sidebar-width: 200px
$emulator-width: 320px

$content-width: $page-width - $sidebar-width
$widget-editor-width: $content-width - 2px - $emulator-width - 8px
