@import "constants";

$main-color: #3b5998;
$secondary-color: #627aad;
$light-bg-color: #edeff4;
$highlight-color: #d8dfea;

$header-font-color: white;

$light-border: #b3b3b3;

$page-width: 960px;

$dynamic-width: 320px;
$color-topbar: #405b80 url(/images/bg-mobile-header.png);


$back-bar-color: #333;
$back-bar-title-font-size: 12px;
$back-bar-title-width: 250px;


body {
  margin: 0;
  padding: 0; }

a img {
  border: none; }

p {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.input-wrap p {
    margin-bottom: 1em;
}

#mobile-container {
  position: relative;
  width: $dynamic-width;
  margin: 0 auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; }

#canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 640px;
  .page {
    float: left;
    width: $dynamic-width;
    p.error {
      margin-bottom: 0;
      color: #880000; } } }

#canvas .page > .content {
  min-height: 120px;
  padding: 20px 10px;
  font-size: 16px;
  label {
    margin-bottom: 2px; }
  input[type=text] {
    width: 70%;
    margin: 0px 0px 10px 0px;
    font-size: 1em; }
  textarea {
    width: 90%;
    font-size: 1em;
    height: 4em; }
  input[type=submit] {
    margin: 10px 0;
    font-size: 1em; }
  select {
    font-size: 1em;
    margin: 0 0 10px 0; }
  .divider {
    border-top: 1px solid #dddddd;
    margin: 8px 0; } }

.back-bar {
  width: 100%;
  padding: 0;
  margin: 12px 0 12px 0;
  background: url(/images/ui/bg-back-bar.png) repeat-x;
  color: $back-bar-color;
  .title {
    float: left;
    padding-top: 12px;
    width: $back-bar-title-width;
    height: 27px;
    h3 {
      margin: 0;
      font-weight: bold;
      font-size: $back-bar-title-font-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
} } }

.company-info {
  width: 100%;
  padding-left: 0 1px 0 8px;
  background: $color-topbar;
  color: white;
  table { height: 36px; }
  td {
    vertical-align: center; }
  .logo {
    background: no-repeat;
    vertical-align: top;
    margin: 2px 0px 2px 0px; }
  .name {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold; } }

.tab-bar {
  background: #c4cde0;
  color: white;
  padding: 0;
  border-top: solid 1px #1d4088;
  border-bottom: solid 1px #1d4088;
  table {
    width: 100%;
    margin-bottom: 0px;
    tr {
      height: 36px; } }
  a, a:visited {
    text-decoration: none; }
  td, td a {
    width: 25%;
    padding: 6px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #3b59a0;
    div {
      width: 100%;
      word-wrap: break-word; } }
  td:hover {
    cursor: pointer; } }

.ad-bar {
  display: none;
  padding: 0 0;
  border-bottom: 2px solid $secondary-color;
  background: $color-topbar;
  text-align: center;
  &.bottom {
    height: 48px; } }

.back-btn {
  float: left;
  width: 48px;
  height: 38px;
  border-right: 1px solid gray;
  margin: 0 12px 0 1px;
  padding: 0;
  background: url(/images/ui/back-btn.png) no-repeat;
  background-position: center; }

.title {
  h2, h3 {
    margin: 9px 0 0 15px;
    font-weight: normal; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 1em; } }

.home-icon {
  float: left;
  width: 25%;
  height: 102px;
  .inner {
    padding: 7.5px 5.5px 7.5px 5.5px; }
  .icon {
    width: 57px;
    height: 57px;
    margin: 0 auto 4px auto;
    background: no-repeat;
    &:hover {
      cursor: pointer; } }
  .title {
    width: 102%;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    word-wrap: break-word; } }

.mobile-footer {
  width: 100%;
  height: 70px;
  padding: 12px 0 0 0;
  background: #c4cde0;
  border-top: solid 1px #1d4088;
  border-bottom: solid 1px #1d4088;
  color: #3b59a0;
  a, a:visited {
    color: #3b59a0; }
  p {
    margin: 0 0 10px 0;
    padding-left: 5px; }
  .powered-by {
    font-size: 11px;
    text-align: center; } }

#templates {
  display: none; }

.aritcaptcha-container {
  height: 60px;
  margin-bottom:4px;
  input[type=text] {
    width: 100px !important;
    margin: 5px 0 0 0 !important; } }

.social-share {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
  li {
    float: left;
    cursor: pointer;
    margin-right: 12px; } }

.clearfix {
  clear: both; }

/////////////////////////////
// Widget Specific Styling //
/////////////////////////////

.page > .content.leave_msg {
  textarea[name="feedback"] {
    width: 95%; } }

.page > .content.hours {
  .day-name {
    width: 95px;
    padding-right: 10px;
    font-weight: bold;
    float: left; }
  .day-hours {
    float: left; }
  .closed {
    color: #aa0000; }
  .open {
    color: #007700; }
  .all-day {
    color: #000099; } }

.page > .content.gmap {
  h1, p {
    padding-left: 4px; }
  .maps {
    height: 305px;
    text-align: center;
    .map-link {
      margin: 10px 0; } }
  .directions {
    margin-top: 15px;
    .banner {
      padding: 2px 0;
      margin-bottom: 4px;
      background: #c4cde0;
      color: #3c59a0;
      font-weight: bold; } } }

.page > .content.category, .page > .content.page_tree {
  padding: 0 10px 20px 8px !important;

  table.node-list {
    width: 100%;
  }

  .category .txt-col {
    padding-right: 16px;
    .preview-text {
      font-size: 70%;
      padding-top: 4px;
      max-height: 4em;
      overflow: hidden;
    }
  }

  td.img-col {
    width: 10%;
    max-width: 80px;
    background: none !important;

    img {
      /* Optional rounded corners for browsers that support it */
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      -khtml-border-radius: 0px;
      border-radius: 0px;
    }
  }

  .item.category td {
    vertical-align: middle; 
  }

  .item td {
    vertical-align: top;
    padding: 8px 12px 8px 0px;
    font-size: 16px;

    .img-col {
      padding-right: 6px;
    }
    
    & > div { padding-bottom: 2px; }
    & > :empty { padding: 0; }

    .content {
      width: 97%;
      float: none;
    }
  }

  .item.category td {
    background: url(/images/ui/subcat-arrow.png) 100% 50% no-repeat; }
  .item.leaf-name td {
    background: url(/images/ui/subcat-arrow.png) 100% 50% no-repeat; }
  .item.category, .item.leaf-name {
    padding: 8px 20px 8px 0px;
    cursor: pointer; }
  .item:first-child, .category:first-child {
    border-top: none; }

  .c0, .c1 {
    border-top: 1px solid #d2d2d2; }
  .divider {
    height: 5px;
    border-top: 1px solid #b3b3b3;
    background: #dddddd;
    margin: 0;
  }
  .separator {
    background: #b3b3b3;
    height: 1px;
  }
}

.page > .content.category {
  .name {
    float: left;
    width: 97%;
    font-size: 16px;
    font-weight: bold; }
  .name.long {
    width: 100%;
    padding: 0 0 8px 0; }
  .price {
    float: left;
    width:97%;
    font-size: 14px; }
  .desc {
    width: 97%;
    margin-top: 0;
    padding-top: 4px;
    font-size: 15px; }
  .desc.long {
    width: 100%; } }

#cat-crumbs-test {
  position: absolute;
  top: 0;
  left: 0;
  z-index:999999999;
  background-color: #ff0000;
  visibility: hidden;
  text-align: left;
  font-weight: bold;
  font-size: $back-bar-title-font-size;
}

pre {
  margin-bottom: 0px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

// used in custom_page, about-us, and category-like widgets
.wphoto-large {
  float: left;
  text-align: left;
  max-width: 100%;
  img {
    max-width: 100%;
    margin: 0px 15px 15px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
  }
}
.wphoto-large.centered { 
  text-align: center; 
  float: none; 
  width: 100%; 
  border-bottom: 1px solid #1D4088;
}

.wphoto-large.centered img {
    margin-bottom: 6px;
}

.node-list {
  .wphoto {
    img {
      margin: 0px;
      padding: 0px;
    }
  }
}
