@import 'constants'
$dynamic-width: 320px
$color-topbar: #3B5998

body
  margin: 0
  padding: 0

#mobile-container
  position: relative
  width: $dynamic-width
  margin: 0 auto
  overflow: hidden
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif

#canvas
  position: relative
  top: 0
  left: 0
  width: 640px
  .page
    float: left
    width: $dynamic-width
    .content
      padding: 0 4px
      font-size: 16px
    p.error
      margin-bottom: 0
      color: #880000

.back-bar
  width: $dynamic-width - 16px
  height: 48px
  padding: 8px
  background: $color-topbar
  color: #fff

.company-info
  @extend .back-bar
  padding-left: 4px
  width: $dynamic-width - 12px
  td
    vertical-align: center
  .logo
    background: no-repeat
  .name
    padding-left: 5px
    font-size: 17px
    font-weight: bold

.tab-bar
  background: $color-topbar
  color: #fff
  padding: 0 4px
  table
    width: 100%
  a, a:visited
    color: #fff
    text-decoration: none
  td
    width: ($emulator-width - 8 - 15) / 4
    padding: 6px 0
    text-align: center
    font-weight: bold
    font-size: 12px
  td:hover
    cursor: pointer
  td.active
    background: $secondary-color

.ad-bar
  padding: 4px 0
  border-top: 4px solid #fff
  border-bottom: 4px solid #fff
  background: $color-topbar
  text-align: center

.back-btn
  float: left
  width: 50px
  height: 30px
  margin: 8px 8px 0 0
  background: url(/images/back-btn.png) no-repeat

.title
  h2, h3
    margin: 9px 0 0 15px
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif
    font-weight: normal
  h2
    font-size: 24px
  h3
    font-size: 18px

.home-icon
  float: left
  width: 75px
  height: 115px
  .inner
    padding: 7.5px 5.5px 7.5px 5.5px
  .icon
    width: 64px
    height: 64px
    background: no-repeat
    &:hover
      cursor: pointer
  .title
    width: 64px
    text-align: center
    font-size: 11px
    word-wrap: break-word

#templates
  display: none

.clearfix
  clear: both

/////////////////////////////
// Widget Specific Styling //
/////////////////////////////

.page .content.leave_msg
  textarea[name="feedback"]
    width: 95%

.page .content.hours
  .closed
    color: #aa0000
  .open
    color: #007700
  .all-day
    color: #000099

.page .content.gmap
  h1, p
    padding-left: 4px
  .maps
    height: 305px
    text-align: center
    .map-link
      margin: 10px 0

.page .content.category, .page .content.page_tree
  padding: 0
  .item
    padding: 8px 0 8px 12px
    font-size: 18px
    img
      max-height: 290px
      max-width: 290px
  .item.category, .item.leaf-name
    cursor: pointer
  .c0
    background: #fff
  .c1
    background: $highlight-color
  .subcat-arrow, .leaf-arrow
    float: right
    width: 29px
    height: 29px
    margin-top: -4px
  .subcat-arrow
    background: url(/images/ui/subcat-arrow.png)
  .leaf-arrow
    background: url(/images/ui/leaf-arrow.png)
