@import 'constants'
$dynamic-width: 320px
$color-topbar: #3B5998

body
  margin: 0
  padding: 0

#mobile-container
  position: relative
  width: $dynamic-width
  margin: 0 auto
  overflow: hidden
  font-family: Arial, Helvetica, sans-serif

#canvas
  position: relative
  top: 0
  left: 0
  width: 640px
  .page
    float: left
    width: $dynamic-width
    .content
      padding: 0 4px
      font-size: 16px
    p.error
      margin-bottom: 0
      color: #880000

.back-bar
  width: $dynamic-width - 16px
  padding: 0 8px
  background: $color-topbar
  color: #fff
  .title
    padding-top: 3px
    height: 36px
    h3
      font-weight: bold
      font-size: 12px

.company-info
  @extend .back-bar
  padding-left: 4px
  width: $dynamic-width - 12px
  td
    vertical-align: center
  .logo
    background: no-repeat
  .name
    padding-left: 5px
    font-size: 17px
    font-weight: bold

.tab-bar
  background: $color-topbar
  color: #fff
  padding: 0 4px
  table
    width: 100%
  a, a:visited
    color: #fff
    text-decoration: none
  td
    width: ($emulator-width - 8 - 15) / 4
    padding: 6px 0
    text-align: center
    font-weight: bold
    font-size: 12px
    div
      width: ($emulator-width - 8 - 15) / 4
      word-wrap: break-word
  td:hover
    cursor: pointer

.ad-bar
  padding: 4px 0
  border-top: 2px solid $secondary-color
  border-bottom: 2px solid $secondary-color
  background: $color-topbar
  text-align: center

.back-btn
  float: left
  width: 50px
  height: 30px
  margin: 4px 8px 0 0
  background: url(/images/back-btn.png) no-repeat

.title
  h2, h3
    margin: 9px 0 0 15px
    font-weight: normal
  h2
    font-size: 24px
  h3
    font-size: 1em

.home-icon
  float: left
  width: 75px
  height: 102px
  .inner
    padding: 7.5px 5.5px 7.5px 5.5px
  .icon
    width: 57px
    height: 57px
    margin: 0 auto 4px auto
    background: no-repeat
    &:hover
      cursor: pointer
  .title
    width: 64px
    line-height: 1.2em
    height: 2.4em
    overflow: hidden
    text-align: center
    font-size: 11px
    word-wrap: break-word

.mobile-footer
  height: 70px
  padding: 8px 0
  p
    margin: 0 0 10px 0
    padding-left: 5px

#templates
  display: none

#aritcaptcha-container
  height: 60px

.social-share
  margin: 0
  padding: 0 0 0 5px
  list-style: none
  li
    float: left
    cursor: pointer
    margin-right: 8px

.clearfix
  clear: both

/////////////////////////////
// Widget Specific Styling //
/////////////////////////////

.page .content.leave_msg
  textarea[name="feedback"]
    width: 95%

.page .content.hours
  .closed
    color: #aa0000
  .open
    color: #007700
  .all-day
    color: #000099

.page .content.gmap
  h1, p
    padding-left: 4px
  .maps
    height: 305px
    text-align: center
    .map-link
      margin: 10px 0

.page .content.category, .page .content.page_tree
  padding: 0 !important
  .item
    padding: 8px 0 8px 12px
    font-size: 18px
    img
      max-height: 290px
      max-width: 290px
  .item.category, .item.leaf-name
    cursor: pointer
  .c0, .c1
    border-top: 1px solid #d2d2d2
  .first
    border-top: none
  .subcat-arrow, .leaf-arrow
    float: right
    width: 29px
    height: 29px
    margin-top: -4px
  .subcat-arrow
    background: url(/images/ui/subcat-arrow.png)
  .leaf-arrow
    background: url(/images/ui/leaf-arrow.png)
