@import "constants";

ul.fancy-selectable {
  background: #fff;
  border: 1px solid $light-border;
  list-style: none;
  margin: 0;
  padding: 10px;
  li {
    padding: 6px 10px;
    border: 1px solid $light-border;
    margin-bottom: 4px;
    cursor: pointer;
    overflow: auto;
  }
  li.ui-selecting { background: #FECA40; }
  li.ui-selected { background: #F39814; color: white; }
}

#manager-container {
  background: $light-bg-color;
  border: 1px solid $light-border;
  border-top: none;
}

h2.active-site {
  margin: 0;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid $light-border;
}

.site-list-wrap {
  float: left;
  width: 360px;
  margin: 20px 20px 0px 20px;
  ul.sites {
    height:400px;
    overflow:auto;
    margin-bottom: 6px;
  }
}

.sites, .admins {
  img.site-pic {
    max-width: 50px;
    vertical-align: middle;
  }
  td.site-pic {
    float: left;
    padding-right: 10px;  
    width: 50px;
    text-align: right; 
  }
  div.site-url {
    font-weight: bold;
  }
}

.accordian {
  float: left;
  width: 540px;
  padding: 10px;
  border-left: 1px solid $light-border;

  .content-header {
    border: 1px solid transparent;
    border-top: 1px solid $light-border;
    padding: 10px;
    .title { float: left; width: 175px; margin: 0; }
    .status { float: left; width: 225px; }
    .action { float: right; }
  }
  .content-header.active {
  }
  .content-header:hover {
    cursor: pointer;
    background: $highlight-color;
  }
  .signup-keys .content-header { border-top-color: transparent; }
  .content-body {
    padding: 0 10px;
    display: none;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
  }

  .signup-keys {
    .signup-key-input { width: 510px; }
  }
  ul.admins {
    height: 258px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 500px;
    img {
      max-width: 50px;
      vertical-align: middle
    }
  }
}

form#account-setup-box.dialog {
  .loading { display: none; }
}

form#account-setup-box.dialog.submitting {
  .fields { display: none; }
  .loading {
    display: block;
  }
}
