@import url(dbx.css);
body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  overflow-y: scroll; }

#page-container {
  width: 960px;
  margin: 0 auto; }

#header {
  padding-top: 10px;
  background: #3b5998;
  color: white;
  height: 31px; }
  #header .content {
    width: 960px;
    margin: 0 auto; }
  #header #logo {
    float: left;
    width: 188px;
    padding-left: 12px;
    font-size: 2em; }
  #header #nav {
    float: left;
    width: 758px;
    height: 30px;
    border: 1px solid #1d4088;
    border-bottom: none;
    background: #627aad; }

#sidebar {
  float: left;
  width: 200px; }
  #sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 54px; }
  #sidebar .option {
    height: 16px;
    padding: 3px 0 2px 4px;
    clear: left; }
    #sidebar .option .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url(/images/test-icons.png); }
    #sidebar .option:hover {
      background-color: #d8dfea;
      cursor: pointer; }
  #sidebar .option.basic .icon {
    background-position: 0 0; }
  #sidebar .option.config .icon {
    background-position: 0 -16px; }
  #sidebar .option.builder .icon {
    background-position: 0 -32px; }
  #sidebar .option.active {
    background-color: #d8dfea; }

#content {
  float: left;
  border: 1px solid #b3b3b3;
  border-top: none;
  width: 758px; }
  #content h1 {
    padding-left: 10px; }

.main-btn {
  background: #5b74a8;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e; }
  .main-btn:hover {
    cursor: pointer; }
  .main-btn .content {
    padding: 2px 6px 3px;
    border: 1px solid #5b74a8;
    border-top-color: #8a9cc2;
    color: white;
    font-weight: bold; }
  .main-btn .content:active {
    background: #4f6aa3;
    border-color: #4f6aa3; }

.alt-btn {
  background: #eeeeee;
  border: 1px solid;
  border-color: #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 0px; }
  .alt-btn:hover {
    cursor: pointer; }
  .alt-btn .content {
    padding: 3px 6px 4px;
    color: #333333;
    font-weight: bold; }
  .alt-btn .content:active {
    background: #dddddd; }

.loader {
  width: 16px;
  height: 11px;
  background: url(/images/ajax-loader.gif); }

.checkmark {
  width: 16px;
  height: 16px;
  background: url(/images/checkmark.png); }

.home-icon-placeholder {
  padding: 10px 8px;
  border: 1px dashed black; }
