@import url(dbx.css);
body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  overflow-y: scroll; }

#topline-notice p.notice, #topline-notice p.alert, #topline-notice p.error {
  text-align: center;
  font-size: 16px; }

p.error {
  color: #f03d25; }

#page-container {
  width: 960px;
  margin: 0 auto; }

.main-btn {
  background: #5b74a8;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e; }
  .main-btn:hover {
    cursor: pointer; }
  .main-btn .content {
    background: #5b74a8;
    padding: 2px 6px 3px;
    margin: 0;
    border: 1px solid #5b74a8;
    border-top-color: #8a9cc2;
    color: white;
    font-weight: bold;
    cursor: pointer; }
  .main-btn .content:active {
    background: #4f6aa3;
    border-color: #4f6aa3; }

.alt-btn {
  background: #eeeeee;
  border: 1px solid;
  border-color: #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 0px; }
  .alt-btn:hover {
    cursor: pointer; }
  .alt-btn .content {
    padding: 3px 6px 4px;
    color: #333333;
    font-weight: bold; }
  .alt-btn .content:active {
    background: #dddddd; }

.loader {
  width: 16px;
  height: 11px;
  background: url(/images/ajax-loader.gif); }

.checkmark {
  width: 16px;
  height: 16px;
  background: url(/images/checkmark.png); }

.home-icon-placeholder {
  padding: 10px 8px;
  border: 1px dashed black; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }
