@import url(dbx.css);
body {
  margin: 0;
  padding: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px; }

a, a:visited {
  color: #3b5998;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

hr {
  color: #cccccc; }

#topline-notice {
  background: #d8dfea;
  text-align: center;
  -webkit-box-shadow: #9c9c9c 0 1px 15px;
  -moz-box-shadow: 0 1px 15px #9c9c9c;
  border-bottom: 1px solid #1d4088; }
  #topline-notice p.notice, #topline-notice p.alert, #topline-notice p.error {
    margin: 0;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 0; }

p.error {
  color: #f03d25; }

p.success {
  color: #008800; }

#header.signed-in {
  padding-top: 10px;
  background: #3b5998;
  color: white;
  height: 31px; }
  #header.signed-in .content {
    width: 960px;
    margin: 0 auto; }
  #header.signed-in #logo {
    float: left;
    width: 188px;
    padding-left: 12px;
    font-size: 2em; }
  #header.signed-in #nav {
    float: left;
    width: 750px;
    height: 30px;
    border: 1px solid #1d4088;
    border-bottom: none;
    background: #627aad;
    text-align: right; }
    #header.signed-in #nav a, #header.signed-in #nav a:visited {
      float: right;
      height: 23px;
      padding: 7px 10px 0;
      color: white;
      font-weight: bold;
      text-decoration: none; }
    #header.signed-in #nav a:hover {
      background-color: #6d86b7; }

#page-container {
  width: 960px;
  margin: 0 auto; }

.center-box {
  margin: 20px auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px; }
  .center-box .content {
    padding: 10px 20px; }
  .center-box .action-bar {
    padding: 10px 12px;
    background: #f2f2f2;
    border-top: 1px solid #cccccc; }

.main-btn {
  background: #5b74a8;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e; }
  .main-btn:hover {
    cursor: pointer; }
  .main-btn .content {
    background: #5b74a8;
    padding: 2px 6px 3px;
    margin: 0;
    border: 1px solid #5b74a8;
    border-top-color: #8a9cc2;
    color: white;
    font-weight: bold;
    cursor: pointer; }
  .main-btn .content:active {
    background: #4f6aa3;
    border-color: #4f6aa3; }

.alt-btn {
  background: #eeeeee;
  border: 1px solid;
  border-color: #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 0px; }
  .alt-btn:hover {
    cursor: pointer; }
  .alt-btn .content {
    padding: 3px 6px 4px;
    color: #333333;
    font-weight: bold; }
  .alt-btn .content:active {
    background: #dddddd; }

.loader {
  width: 16px;
  height: 11px;
  background: url(/images/ajax-loader.gif); }

.checkmark {
  width: 16px;
  height: 16px;
  background: url(/images/checkmark.png); }

.home-icon-placeholder {
  padding: 10px 8px;
  border: 1px dashed black; }

#simpleTooltip {
  padding: 7px;
  border: 1px solid #dd3c10;
  background: #ffebe8;
  max-width: 270px;
  font-size: 14px; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }

.clearfix {
  clear: both; }

.lclear {
  clear: left; }

.rclear {
  clear: right; }
