#builder-container {
  background: #edeff4;
  border-top: 1px solid #b3b3b3;
  padding: 20px 10px; }

#builder .widget-editor {
  float: left;
  width: 390px;
  padding: 10px; }
  #builder .widget-editor .header {
    height: 72px; }
    #builder .widget-editor .header .icon {
      float: left;
      width: 64px;
      height: 64px;
      background: no-repeat; }
    #builder .widget-editor .header .help-text {
      padding: 0 20px 0 72px;
      margin-top: 5px; }
  #builder .widget-editor .edit-area {
    padding: 20px 20px; }
    #builder .widget-editor .edit-area textarea, #builder .widget-editor .edit-area input[type=text] {
      width: 98%;
      font-size: 1.5em; }
    #builder .widget-editor .edit-area textarea {
      padding: 8px; }
    #builder .widget-editor .edit-area input[type=text] {
      padding: 0px 4px 8px 5px; }
  #builder .widget-editor .action-bar {
    padding: 12px 20px 0; }
  #builder .widget-editor .accept-btn {
    float: right; }
  #builder .widget-editor .remove-link {
    float: left;
    margin: 4px 0 0 6px; }
  #builder .widget-editor .cancel-btn {
    float: left; }
  #builder .widget-editor .loader {
    display: none;
    float: right;
    margin: 5px 6px 0 0; }
  #builder .widget-editor .checkmark {
    display: none;
    float: right;
    margin: 4px 6px 0 0; }
  #builder .widget-editor .widget-name {
    padding: 0 0 0 72px;
    font-size: 2.5em; }
