#sidebar {
  float: left;
  width: 200px; }
  #sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 54px; }
  #sidebar .option {
    height: 16px;
    padding: 3px 0 2px 4px;
    clear: left; }
    #sidebar .option .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url(/images/test-icons.png); }
    #sidebar .option:hover {
      background-color: #d8dfea;
      cursor: pointer; }
  #sidebar .option.basic .icon {
    background-position: 0 0; }
  #sidebar .option.config .icon {
    background-position: 0 -16px; }
  #sidebar .option.builder .icon {
    background-position: 0 -32px; }
  #sidebar .option.active {
    background-color: #d8dfea; }

#content {
  float: left;
  border: 1px solid #b3b3b3;
  border-top: none;
  width: 758px; }
  #content h1 {
    padding-left: 10px; }

.ad-bar {
  display: none !important; }

.home-icon.editing {
  background-color: #ddef34; }

#builder-container {
  background: #edeff4;
  border-top: 1px solid #b3b3b3;
  padding: 20px 10px; }

#builder .widget-editor {
  float: left;
  width: 370px;
  padding: 10px; }
  #builder .widget-editor .header {
    height: 72px; }
    #builder .widget-editor .header .icon {
      float: left;
      width: 64px;
      height: 64px;
      background: no-repeat; }
    #builder .widget-editor .header .help-text {
      padding: 0 20px 0 72px;
      margin-top: 5px; }
  #builder .widget-editor .header.edit-tab-bar .help-text, #builder .widget-editor .header.edit-tab-bar .widget-name {
    padding-left: 0;
    cursor: auto; }
  #builder .widget-editor .edit-area {
    padding: 20px 20px; }
    #builder .widget-editor .edit-area textarea, #builder .widget-editor .edit-area input[type=text] {
      width: 98%;
      font-size: 1.5em; }
    #builder .widget-editor .edit-area textarea {
      padding: 8px; }
    #builder .widget-editor .edit-area input[type=text] {
      padding: 0px 4px 8px 5px; }
  #builder .widget-editor .action-bar {
    padding: 12px 20px 0; }
  #builder .widget-editor .accept-btn {
    float: right; }
  #builder .widget-editor .remove-link {
    float: left;
    margin: 4px 0 0 6px; }
  #builder .widget-editor .cancel-btn {
    float: left; }
  #builder .widget-editor .loader {
    display: none;
    float: right;
    margin: 5px 6px 0 0; }
  #builder .widget-editor .checkmark {
    display: none;
    float: right;
    margin: 4px 6px 0 0; }
  #builder .widget-editor .widget-name {
    padding: 0 0 0 72px;
    font-size: 2.5em; }
    #builder .widget-editor .widget-name .change-label {
      display: none;
      padding-left: 8px;
      color: #ff530d;
      font-size: 0.4em; }
    #builder .widget-editor .widget-name:hover {
      background: #d8dfea;
      cursor: pointer; }
      #builder .widget-editor .widget-name:hover .change-label {
        display: inline; }
  #builder .widget-editor .widget-name-edit {
    display: none; }
    #builder .widget-editor .widget-name-edit input[type=text] {
      font-size: 2.5em; }

#emulator-wrapper {
  float: left;
  width: 340px; }

#emulator {
  border: 4px solid #1d4088;
  background: #edeff4; }

#emulator-scroller {
  width: 335px;
  height: 480px; }

#emulator.portrait {
  width: 340px;
  min-height: 480px; }

#emulator.landscape {
  width: 480px;
  height: 340px; }

#emulator .loader-overlay {
  position: absolute;
  width: 320px;
  height: 480px;
  background: url(/images/ui/overlay.png); }
  #emulator .loader-overlay .icon {
    width: 64px;
    height: 64px;
    margin: 210px auto;
    background: url(/images/ui/ajax-loader-large.gif); }

#emulator .drophover-overlay {
  display: none;
  position: absolute;
  width: 320px;
  height: 100%;
  background: url(/images/ui/overlay.png); }
  #emulator .drophover-overlay .icon {
    width: 128px;
    height: 128px;
    margin: 170px auto 0;
    background: url(/images/ui/drophover.png); }
  #emulator .drophover-overlay .text {
    margin: 8px 0;
    color: white;
    text-align: center;
    font-size: 2em; }

#emulator.drophover .drophover-overlay {
  display: block; }

#emulator {
  overflow: hidden;
  height: 480px; }

#mobile-scroller {
  overflow-y: scroll;
  height: 480px;
  width: 335px; }

#builder .edit-area.hours .day-checkbox {
  float: left;
  width: 32px;
  margin-right: 10px;
  text-align: center; }
  #builder .edit-area.hours .day-checkbox .checkbox {
    height: 32px;
    width: 32px;
    background: url(/images/ui/checkbox-empty.png);
    cursor: pointer; }
  #builder .edit-area.hours .day-checkbox .checkbox.checked {
    background: url(/images/ui/checkbox-full.png); }
#builder .edit-area.hours .day-hours {
  display: none;
  padding: 8px 0;
  clear: left; }
  #builder .edit-area.hours .day-hours .day-name {
    float: left;
    width: 95px;
    font-size: 1.5em;
    margin-top: 4px;
    padding: 4px 0 8px; }
  #builder .edit-area.hours .day-hours .all-day-wrap {
    float: left;
    padding: 10px 0 0 12px;
    text-align: center;
    color: #4e4e4e; }
  #builder .edit-area.hours .day-hours .row {
    clear: left; }
  #builder .edit-area.hours .day-hours .add-time {
    float: right;
    clear: left;
    margin-top: 2px;
    cursor: pointer; }
    #builder .edit-area.hours .day-hours .add-time .plus-icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-top: -1px;
      background: url(/images/ui/plus.png); }
  #builder .edit-area.hours .day-hours .hour-wrap.all-day-checked {
    display: none; }
  #builder .edit-area.hours .day-hours .all-day-label {
    display: none;
    float: left;
    height: 26px;
    width: 262px;
    padding: 10px 0 0 4px;
    color: #005500;
    font-size: 1.2em;
    font-weight: bold; }
  #builder .edit-area.hours .day-hours .all-day-label.all-day-checked {
    display: block; }
  #builder .edit-area.hours .day-hours label {
    float: left;
    width: 36px;
    padding-right: 4px;
    margin-top: 11px;
    color: #7e7e7e;
    text-align: right; }
  #builder .edit-area.hours .day-hours input[type=text] {
    float: left;
    width: 80px; }
#builder .edit-area.hours .day-hours.checked {
  display: block; }

#builder .edit-area.calendar .url {
  padding: 5px 0 20px;
  font-size: 1.5em;
  word-wrap: break-word; }

#builder .edit-area.category, #builder .edit-area.page_tree {
  padding-top: 0; }
  #builder .edit-area.category select, #builder .edit-area.page_tree select {
    width: 97%; }
  #builder .edit-area.category #jeditor-wrapper, #builder .edit-area.page_tree #jeditor-wrapper {
    width: 324px; }

#dialog-confirm .error {
  color: #880000; }
#dialog-confirm .success {
  color: #008800; }

/* css for timepicker */
#ui-datepicker-div {
  border: 3px solid black; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }

.ui-timepicker-div td {
  font-size: 90%; }

#wname-test {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: auto;
  width: 68px;
  text-align: center;
  font-size: 14px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }
