.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }

#jeditor-wrapper .wysiwyg {
  width: 364px; }
#jeditor-wrapper iframe {
  width: 355px;
  max-width: 355px; }

div.wysiwyg ul.toolbar {
  border-bottom: 0px !important; }

#sidebar {
  float: left;
  width: 210px; }
  #sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 54px 0 10px 0;
    font-size: 100%; }
  #sidebar .spacer {
    border-top: 1px solid #dddddd;
    margin: 5px 0; }
  #sidebar .option {
    min-height: 16px;
    padding: 2px 0 2px 4px;
    clear: left; }
    #sidebar .option .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin: 0px 4px 0 0;
      background: url(/images/test-icons.png); }
    #sidebar .option:hover {
      background-color: #d8dfea;
      cursor: pointer; }
  #sidebar .option.basic .icon {
    background-position: 0 0; }
  #sidebar .option.config .icon,
  #sidebar .option.edit-settings .icon,
  #sidebar .option.edit-advanced-settings .icon {
    background-position: 0 -16px; }
  #sidebar .option.builder .icon {
    background-position: 0 -32px; }
  #sidebar .option.customize .icon {
    background-position: 0 -176px; }
  #sidebar .option.preview .icon {
    background-position: 0 -112px; }
  #sidebar .option.email .icon {
    background-position: 0 -128px; }
  #sidebar .option.text .icon {
    background-position: 0 -144px; }
  #sidebar .option.edit-tab-bar .icon {
    background-position: 0 -160px; }
  #sidebar .option.active {
    background-color: #d8dfea; }
  #sidebar .home-icon {
    width: 200px;
    height: auto;
    padding: 1px 0 0px 5px;
    margin: 1px 0;
    cursor: pointer; }
    #sidebar .home-icon .add {
      visibility: hidden;
      margin-top: 2px; }
    #sidebar .home-icon .add.left {
      float: left;
      display: none; }
    #sidebar .home-icon .add.right {
      float: right; }
    #sidebar .home-icon .title {
      width: auto;
      margin-left: 0px;
      padding: 2.5px 0 0 4px;
      text-align: left;
      height: auto;
      font-weight: bold;
      font-size: 12px;
      float: left;
      color: #333; }
    #sidebar .home-icon .icon {
      float: left;
      margin: 0;
      width: 18px;
      height: 18px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px; }
  #sidebar .home-icon:hover {
    background: url(/images/ui/yellowbg-small.png); }
    #sidebar .home-icon:hover .add {
      visibility: visible; }
  #sidebar .home-icon.singletonInUse {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; }
    #sidebar .home-icon.singletonInUse .add {
      visibility: hidden !important; }

#sidebar .widgets {
  padding-left: 2px;
  overflow-x: hidden;
  overflow-y: hidden; }

#content {
  float: left;
  border: 1px solid #b3b3b3;
  border-top: none;
  width: 797px; }
  #content h1 {
    padding-left: 10px;
    margin: 3px 0px 3px 0px; }
  #content .leaf-content h1 {
    padding-left: 0px; }

#emulator-wrapper .ad-bar {
  display: none; }

.home-icon.editing {
  background: #a4bec6 no-repeat 0px 1px !important;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px; }
  .home-icon.editing .title {
    color: #333333; }

.home-icon.invalid .invalid-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: -94px;
  left: 43px;
  background: url(/images/ui/invalid-for-showing.png) no-repeat; }

.home-icon.invalid.deactivated .invalid-icon {
  background-image: url(/images/ui/deactivated.png); }

.home-icon.invalid .line .invalid-icon {
  top: -66px !important; }

#builder-container {
  min-height: 450px;
  background: #edeff4;
  border-top: 1px solid #b3b3b3; }

#builder .left > .title, #builder .right > .title {
  padding: 10px 0 10px 0;
  font-size: 1.75em;
  font-weight: bold;
  color: #000066; }
#builder .left > .title-subtext, #builder .right > .title-subtext {
  min-height: 30px;
  padding: 0 10px 5px 0; }
#builder .left {
  width: 390px;
  height: 100%;
  border-right: 1px solid #b3b3b3;
  padding: 0 0 10px 10px; }
  #builder .left > .title-subtext {
    font-weight: bold;
    color: #6D3F3A;
    background: #FEEFC0;
    padding: 2px 4px 2px 8px;
    margin: 0px 10px 1px 0px; }
    #builder .left > .title-subtext img {
      float: left;
      margin: 2px 6px 0 0; }
#builder .right {
  width: 396px;
  height: 100%; }
  #builder .right > .title {
    padding: 10px 15px 10px; }
  #builder .right > .title-subtext {
    padding-left: 10px; }
  #builder .right .title {
    padding-left: 14px; }

#builder-help {
  color: #203360; }
  #builder-help label {
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    margin: 15px 0px 3px 0px; }
  #builder-help p.help-text {
    margin-bottom: 20px; }
  #builder-help p {
    margin-bottom: 5px; }
  #builder-help img {
    border: 2px solid #203360; }
  #builder-help .first {
    margin-left: -2px; }
  #builder-help .or {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0px 8px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center; }
    #builder-help .or table {
      margin: auto; }
    #builder-help .or #l, #builder-help .or #r {
      height: 2px;
      width: 150px;
      margin: 1px 6px 0px 6px;
      border-top: 2px solid #203360; }
    #builder-help .or #l {
      margin-left: 3px; }

#builder .widget-editor {
  width: 376px;
  padding: 0px;
  margin: 0 auto; }
  #builder .widget-editor .header {
    height: 55px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px; }
    #builder .widget-editor .header .icon {
      float: left;
      margin-right: 8px;
      width: 57px;
      height: 57px;
      background-size: 57px 57px !important;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      background: no-repeat; }
    #builder .widget-editor .header .help-text {
      position: relative;
      top: 4px; }
  #builder .widget-editor .header.edit-tab-bar .help-text, #builder .widget-editor .header.edit-settings .help-text {
    padding-left: 0;
    cursor: auto; }
  #builder .widget-editor .widget-name {
    padding: 2px 0px 2px 0px;
    font-size: 1.75em;
    word-wrap: break-word; }
    #builder .widget-editor .widget-name .change-label {
      display: none;
      padding-left: 8px;
      color: #ff530d;
      font-size: 0.6em; }
    #builder .widget-editor .widget-name .help-bubble {
      float: right; }
    #builder .widget-editor .widget-name.editable:hover {
      background: #d8dfea;
      cursor: pointer; }
      #builder .widget-editor .widget-name.editable:hover .change-label {
        display: inline; }
  #builder .widget-editor .widget-name-edit {
    display: none;
    position: relative;
    left: 4px; }
    #builder .widget-editor .widget-name-edit input[type=text] {
      font-size: 1.5em;
      width: 250px;
      margin-bottom: 0px;
      margin-left: -2px;
      padding-top: 2px;
      padding-bottom: 2px; }
  #builder .widget-editor .wtab {
    height: 35px; }
    #builder .widget-editor .wtab h2 {
      font-size: 16px;
      float: left;
      margin: 0px 0px 0px 0px; }
    #builder .widget-editor .wtab h3 {
      float: left;
      clear: left;
      margin: 0px 10px 0px 0px; }
    #builder .widget-editor .wtab select {
      float: left;
      position: relative;
      top: -3px; }
  #builder .widget-editor .logo {
    margin: 10px 0; }
  #builder .widget-editor .edit-area {
    padding: 6px 0;
    margin: 0 auto; }
  #builder .widget-editor .action-bar {
    padding: 12px 0 0;
    margin-top: 6px;
    border-top: 1px solid #b3b3b3; }
  #builder .widget-editor .accept-btn {
    float: right; }
  #builder .widget-editor .remove-link {
    float: left;
    margin: 4px 0 0 6px; }
  #builder .widget-editor .cancel-btn {
    float: left; }
  #builder .widget-editor .loader {
    display: none;
    float: right;
    margin: 5px 6px 0 0; }
  #builder .widget-editor .checkmark {
    display: none;
    float: right;
    margin: 4px 6px 0 0; }
  #builder .widget-editor p.help-text .rename-link, #builder .widget-editor p.help-text .edit-icon-link {
    display: none; }
  #builder .widget-editor p.help-text.can-rename .rename-link {
    display: inline; }
  #builder .widget-editor p.help-text.can-edit-icon .edit-icon-link {
    display: inline; }

#builder .follower-section {
  padding: 0 0 10px 10px; }

#emulator-wrapper {
  float: left;
  width: 366px;
  margin-left: -5px;
  padding: 79px 0 64px 26px;
  background: no-repeat url(/images/phone.png); }

#emulator {
  position: relative;
  height: 480px;
  background: #edeff4;
  overflow: hidden; }

#emulator-scroller {
  width: 335px;
  height: 480px; }

#emulator.portrait {
  width: 335px;
  min-height: 480px; }

#builder .loader-overlay {
  position: absolute;
  z-index: 99;
  width: 324px;
  height: 488px;
  background: url(/images/ui/overlay.png); }
  #builder .loader-overlay .icon {
    width: 64px;
    height: 64px;
    margin: 210px auto;
    background: url(/images/ui/ajax-loader-large.gif); }

#builder .drophover-overlay {
  display: none;
  position: absolute;
  z-index: 98;
  width: 324px;
  height: 488px;
  background: url(/images/ui/overlay.png); }
  #builder .drophover-overlay .icon {
    width: 128px;
    height: 128px;
    margin: 170px auto 0;
    background: url(/images/ui/drophover.png); }
  #builder .drophover-overlay .text {
    margin: 8px 0;
    color: white;
    text-align: center;
    font-size: 2em; }

#emulator.drophover .drophover-overlay {
  display: block; }

#mobile-scroller {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 480px;
  width: 335px; }

.divider {
  border-top: 1px solid #b3b3b3;
  margin: 10px 0; }

#builder .edit-area.edit-settings,
#builder .edit-area.edit-advanced-settings,
#builder .edit-area.customize {
  padding-top: 8px; }
  #builder .edit-area.edit-settings .box,
  #builder .edit-area.edit-advanced-settings .box,
  #builder .edit-area.customize .box {
    margin: 10px 0px 0px 0px;
    border: 2px solid #d0d7e3;
    padding: 8px; }
    #builder .edit-area.edit-settings .box input[type=text],
    #builder .edit-area.edit-advanced-settings .box input[type=text],
    #builder .edit-area.customize .box input[type=text] {
      width: 274px;
      margin-bottom: 5px; }
    #builder .edit-area.edit-settings .box textarea,
    #builder .edit-area.edit-advanced-settings .box textarea,
    #builder .edit-area.customize .box textarea {
      width: 326px;
      height: 9em;
      margin: 0; }
  #builder .edit-area.edit-settings .divider,
  #builder .edit-area.edit-advanced-settings .divider,
  #builder .edit-area.customize .divider {
    border-color: #d0d7e3;
    margin: 5px 0px; }
  #builder .edit-area.edit-settings form .action-bar,
  #builder .edit-area.edit-advanced-settings form .action-bar,
  #builder .edit-area.customize form .action-bar {
    border-top: 2px solid #d0d7e3;
    padding-right: 0;
    padding-top: 8px;
    margin-top: 15px; }
  #builder .edit-area.edit-settings .site-settings input[type=text], #builder .edit-area.edit-settings .site-settings textarea,
  #builder .edit-area.edit-advanced-settings .site-settings input[type=text],
  #builder .edit-area.edit-advanced-settings .site-settings textarea,
  #builder .edit-area.customize .site-settings input[type=text],
  #builder .edit-area.customize .site-settings textarea {
    width: 240px; }
  #builder .edit-area.edit-settings .site-settings textarea,
  #builder .edit-area.edit-advanced-settings .site-settings textarea,
  #builder .edit-area.customize .site-settings textarea {
    height: 4em; }
  #builder .edit-area.edit-settings .site-settings select,
  #builder .edit-area.edit-advanced-settings .site-settings select,
  #builder .edit-area.customize .site-settings select {
    max-width: 250px; }
  #builder .edit-area.edit-settings select,
  #builder .edit-area.edit-advanced-settings select,
  #builder .edit-area.customize select {
    width: auto; }
  #builder .edit-area.edit-settings .top,
  #builder .edit-area.edit-advanced-settings .top,
  #builder .edit-area.customize .top {
    vertical-align: top; }
  #builder .edit-area.edit-settings .logo,
  #builder .edit-area.edit-advanced-settings .logo,
  #builder .edit-area.customize .logo {
    margin: 3px 0px; }
  #builder .edit-area.edit-settings .site-name,
  #builder .edit-area.edit-advanced-settings .site-name,
  #builder .edit-area.customize .site-name {
    padding-bottom: 10px; }
  #builder .edit-area.edit-settings .new-picture,
  #builder .edit-area.edit-advanced-settings .new-picture,
  #builder .edit-area.customize .new-picture {
    width: 100%; }

#builder .edit-area.customize .subpanels > * {
  display: none; }
#builder .edit-area.customize img.banner, #builder .edit-area.customize img.body_bg {
  max-width: 64px; }
#builder .edit-area.customize .not-premium {
  width: 220px;
  float: left;
  color: red; }
  #builder .edit-area.customize .not-premium a, #builder .edit-area.customize .not-premium a:visited {
    color: red; }
#builder .edit-area.customize td.not-premium {
  width: 100%;
  padding: 0px 4px; }

.widget-editor .edit-area label {
  white-space: normal; }

.wphoto-wrap {
  width: 100%;
  border: 1px solid #BDC7D8;
  margin: 10px 0;
  padding: 5px; }
  .wphoto-wrap label {
    font-weight: bold; }
  .wphoto-wrap img {
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
  .wphoto-wrap img.ajax {
    position: relative;
    top: 3px;
    left: 4px; }

.wphoto-wrap.preview td:first-child {
  text-align: center;
  width: 80%; }
.wphoto-wrap.preview button {
  cursor: pointer; }

.wphoto-wrap .selected-file {
  width: 120px;
  height: 1.25em;
  padding: 4px;
  margin-right: 4px;
  background: white url(/images/ui/blue-bar.png) no-repeat -500px 0;
  transition: background-position 2s;
  -moz-transition: background-position 2s;
  -webkit-transition: background-position 2s;
  -o-transition: background-position 2s;
  border: 1px solid #DFDFDF;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #E2E2E2;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  clear: left; }

.wphoto-wrap .selected-file.no-anim {
  transition-duration: 0;
  -moz-transition-duration: 0;
  -webkit-transition-duration: 0;
  -o-transition-duration: 0; }

#dialog-confirm .wphoto-wrap {
  padding: 0px 4px 0px 4px;
  border: 3px solid #BDC7D8; }

#dialog-confirm.subcat p.error {
  margin: 0 0 0 48px;
  padding: 1px 0 0 0; }
#dialog-confirm.subcat .divider {
  margin-top: 38px; }

#builder .edit-area.hours .double-time-input {
  margin: 30px 0px 10px 0px; }
#builder .edit-area.hours .double-time {
  margin-bottom: 10px; }
#builder .edit-area.hours .day-checkbox {
  float: left;
  width: 32px;
  margin-right: 10px;
  text-align: center; }
#builder .edit-area.hours .day-hours {
  display: block;
  clear: left; }
  #builder .edit-area.hours .day-hours .day-name {
    float: left;
    width: 85px;
    margin-top: 2px;
    font-size: 14px; }
  #builder .edit-area.hours .day-hours .day-enabled input[type=checkbox] {
    margin-top: 6px; }
  #builder .edit-area.hours .day-hours .times {
    float: left;
    height: 28px;
    padding-left: 5px; }
    #builder .edit-area.hours .day-hours .times label {
      float: left;
      margin: 2px 4px 0px 4px;
      color: #7e7e7e;
      text-align: center; }
    #builder .edit-area.hours .day-hours .times .t1 {
      display: none;
      clear: left; }
    #builder .edit-area.hours .day-hours .times .closed {
      display: none;
      padding-top: 4px;
      font-weight: bold;
      color: #3B5998; }
  #builder .edit-area.hours .day-hours input[type=text] {
    float: left;
    width: 65px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 2px; }
#builder .edit-area.hours .day-hours.closed .t1, #builder .edit-area.hours .day-hours.closed .t0 {
  display: none !important; }
#builder .edit-area.hours .day-hours.closed .closed {
  display: block; }
#builder .edit-area.hours .input-area.double-time .t1 {
  display: block; }
#builder .edit-area.hours .input-area.double-time .times {
  height: 55px; }

#builder .edit-area.calendar .url {
  padding: 5px 0 20px;
  font-size: 150%;
  word-wrap: break-word; }

#builder .edit-area.category .controls, #builder .edit-area.page_tree .controls {
  height: 28px;
  border: 1px solid #b3b3b3;
  padding: 3px;
  background: silver; }
#builder .edit-area.category .controls.category, #builder .edit-area.page_tree .controls.category {
  height: 66px; }
  #builder .edit-area.category .controls.category hr, #builder .edit-area.page_tree .controls.category hr {
    margin-top: 31px; }
#builder .edit-area.category .controls .button, #builder .edit-area.page_tree .controls .button {
  height: 22px;
  padding: 6px 2px 0 22px;
  margin: 0 4px 0 0;
  border: 1px outset transparent;
  background-position: 3px 5px;
  background-repeat: no-repeat;
  vertical-align: center;
  float: left;
  cursor: pointer; }
#builder .edit-area.category .controls .button:hover, #builder .edit-area.page_tree .controls .button:hover {
  border: 1px outset #e0e0e0; }
#builder .edit-area.category .button.back, #builder .edit-area.page_tree .button.back {
  font-size: 30px;
  font-weight: bold;
  height: 64px;
  line-height: 58px;
  padding: 0px 6px; }
#builder .edit-area.category .button.back.page, #builder .edit-area.page_tree .button.back.page {
  height: 26px;
  line-height: 22px;
  padding: 0px 6px; }
#builder .edit-area.category .button-separator, #builder .edit-area.page_tree .button-separator {
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
  padding: 0px 1px;
  border: none;
  background: gray; }
#builder .edit-area.category .button-separator.back, #builder .edit-area.page_tree .button-separator.back {
  height: 66px; }
#builder .edit-area.category .button-separator.back.page, #builder .edit-area.page_tree .button-separator.back.page {
  height: 28px; }
#builder .edit-area.category .row-separator, #builder .edit-area.page_tree .row-separator {
  height: 0px;
  border: 1px;
  border-style: inset;
  margin: 3px 0px;
  width: 324px;
  float: left; }
#builder .edit-area.category .button.add-cat, #builder .edit-area.page_tree .button.add-cat {
  background-image: url(/images/ui/icon-folder-new.png); }
#builder .edit-area.category .button.add-item, #builder .edit-area.page_tree .button.add-item {
  background-image: url(/images/ui/icon-item-new.png); }
#builder .edit-area.category .button.add-rss-feed, #builder .edit-area.page_tree .button.add-rss-feed {
  background-image: url(/images/ui/icon-rss-new.png); }
#builder .edit-area.category .button.rename, #builder .edit-area.page_tree .button.rename {
  background-image: url(/images/ui/icon-rename.png);
  background-position: center; }
#builder .edit-area.category .button.edit, #builder .edit-area.page_tree .button.edit {
  background-image: url(/images/ui/icon-edit.png);
  background-position: center; }
#builder .edit-area.category .button.delete, #builder .edit-area.page_tree .button.delete {
  background-image: url(/images/ui/icon-delete.png);
  background-position: center; }
#builder .edit-area.category ul.fancy-selectable, #builder .edit-area.page_tree ul.fancy-selectable {
  height: 290px;
  overflow: auto; }
#builder .edit-area.category .nodes .handle, #builder .edit-area.page_tree .nodes .handle {
  float: right;
  padding: 6px 6px 0px 6px;
  cursor: move; }
#builder .edit-area.category .nodes .icon, #builder .edit-area.page_tree .nodes .icon {
  height: 24px;
  width: 16px;
  padding-left: 6px;
  float: left;
  background: transparent 50% 50% no-repeat; }
#builder .edit-area.category .nodes .name, #builder .edit-area.page_tree .nodes .name {
  margin: 6px 0px 6px 3px;
  float: left;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
  border-right: 1px solid #b3b3b3; }
#builder .edit-area.category .nodes .icon.cat, #builder .edit-area.page_tree .nodes .icon.cat {
  background-image: url(/images/ui/icon-folder.png); }
#builder .edit-area.category .nodes .icon.page, #builder .edit-area.category .nodes .icon.item, #builder .edit-area.page_tree .nodes .icon.page, #builder .edit-area.page_tree .nodes .icon.item {
  background-image: url(/images/ui/icon-item.png);
  background-position: 3px 6px; }
#builder .edit-area.category .nodes .icon.rss-feed, #builder .edit-area.page_tree .nodes .icon.rss-feed {
  background-image: url(/images/ui/icon-rss.png);
  background-position: 3px 6px; }
#builder .edit-area.category .icon-wrap, #builder .edit-area.page_tree .icon-wrap {
  padding: 0 5px 0 0; }
  #builder .edit-area.category .icon-wrap img, #builder .edit-area.page_tree .icon-wrap img {
    width: 18px;
    height: 18px; }
#builder .edit-area.category .crumb-wrap, #builder .edit-area.page_tree .crumb-wrap {
  padding: 6px 6px 0 6px;
  height: 16px;
  overflow: hidden; }
#builder .edit-area.category select, #builder .edit-area.page_tree select {
  width: 360px;
  margin: 2px 0;
  height: 300px; }
#builder .edit-area.category .arrows, #builder .edit-area.page_tree .arrows {
  float: right;
  padding: 5px 2px 0 0; }
#builder .edit-area.category #jeditor-wrapper, #builder .edit-area.page_tree #jeditor-wrapper {
  width: 324px; }

#builder .edit-area.link_fb .current_link_label {
  font-size: 14px; }

#builder .edit-area.gmap p.invalidForShowing {
  padding: 7px;
  border: 1px solid #dd3c10;
  background: #ffebe8;
  font-size: 14px; }

#dialog-confirm p {
  margin: 10px 0px 10px 0px; }
#dialog-confirm label {
  padding: 0px 0px 1px 1px; }
#dialog-confirm .add-btn, #dialog-confirm input[type=button] {
  margin: 0px;
  padding: 2px 8px 2px 8px; }
#dialog-confirm input[type=text] {
  width: 97%;
  margin: 1px 0px 6px 0px; }
#dialog-confirm textarea {
  margin-left: 1px;
  margin-right: 1px;
  width: 97%;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 5em; }
#dialog-confirm .error {
  padding-top: 9px; }
#dialog-confirm .success {
  color: #008800;
  padding: 0px;
  margin-top: 23px;
  font-size: 90%; }

#dialog-confirm.edit-icon p {
  margin: 5px 0px; }
#dialog-confirm.edit-icon .icons {
  max-height: 235px;
  margin: 0 2px 8px 0px;
  padding: 10px 0 10px 0;
  border: 3px solid #ccc;
  overflow: auto; }
  #dialog-confirm.edit-icon .icons .wicon-opt {
    margin: 2px;
    border: 2px solid #fff;
    cursor: pointer; }
  #dialog-confirm.edit-icon .icons .wicon-opt:hover {
    border: 2px solid #d8dfea; }
  #dialog-confirm.edit-icon .icons .wicon-opt.selected {
    border: 2px dashed black; }
#dialog-confirm.edit-icon .selected-display {
  display: none;
  margin-top: 12px; }
  #dialog-confirm.edit-icon .selected-display img {
    width: 57px;
    height: 57px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; }
#dialog-confirm.edit-icon .upload-custom-icon-label {
  font-size: 120%; }
#dialog-confirm.edit-icon .selected-label {
  font-size: 120%;
  float: left;
  margin: 4px 10px 0px 0px; }
#dialog-confirm.edit-icon .icon-name-label {
  font-size: 120%;
  position: relative;
  top: -20px;
  left: 10px; }
#dialog-confirm.edit-icon p {
  font-size: 120%;
  padding: 4px 0px 0px 0px; }
#dialog-confirm.edit-icon table.change-icon-separator {
  width: 100%;
  border-collapse: collapse; }
  #dialog-confirm.edit-icon table.change-icon-separator td {
    padding: 6px 0px; }
  #dialog-confirm.edit-icon table.change-icon-separator td.l {
    width: 5%;
    padding-left: 4px; }
  #dialog-confirm.edit-icon table.change-icon-separator td.r {
    width: 100%;
    padding-right: 16px; }
  #dialog-confirm.edit-icon table.change-icon-separator div.label {
    font-size: 120%;
    margin: 0px 4px 0px 2px;
    white-space: nowrap; }
  #dialog-confirm.edit-icon table.change-icon-separator div.l, #dialog-confirm.edit-icon table.change-icon-separator div.r {
    border-top: 4px solid #b3b3b3; }
#dialog-confirm.edit-icon table.first, #dialog-confirm.edit-icon td.first {
  padding-top: 0px; }

#dialog-confirm.jeditor-image .preview img {
  max-width: 100%;
  max-height: 80px;
  vertical-align: middle; }
#dialog-confirm.jeditor-image input[name=size] {
  width: auto; }

#builder input[name="back"] {
  margin-right: 16px;
  padding: 4px;
  background: none; }

#builder input[name="add_cat"],
#builder input[name="add_item"] {
  padding: 4px 4px 4px 25px;
  width: auto;
  overflow: visible; }

#builder input[name="add_cat"] {
  background: no-repeat 2% 50% url(/images/ui/new-folder-20.png); }

#builder input[name="add_item"] {
  background: no-repeat 2% 50% url(/images/ui/new-item-20.png); }

.wysiwyg input[type=text] {
  width: 97%; }

/* css for timepicker */
#ui-datepicker-div {
  border: 3px solid black; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }

.ui-timepicker-div td {
  font-size: 90%; }

#wname-test {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: auto;
  width: 68px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

#mobile-container .company-info .name, #mobile-container .company-info .logo, #mobile-container .company-info .slogan {
  cursor: pointer; }
#mobile-container .page .content.category .item:hover, #mobile-container .page .content.page_tree .item:hover {
  background-color: #d8dfea;
  cursor: pointer; }

.color-picker {
  height: 36px;
  width: 72px;
  position: relative; }

.color-picker div {
  position: absolute;
  top: 3px;
  width: 64px;
  height: 28px;
  background: url(/images/color-picker/select2.png) center; }

div.plupload {
  cursor: pointer; }
  div.plupload input {
    cursor: pointer; }

.selected-file {
  cursor: pointer; }
  .selected-file button {
    cursor: pointer; }

button {
  cursor: pointer; }

button[disabled] {
  padding: 1px 3px 1px 3px;
  cursor: auto; }

button[name=pick_files] {
  cursor: pointer;
  padding: 1px 3px 1px 3px; }
