/****************************************************************
  docking boxes core CSS: YOU MUST NOT CHANGE OR OVERRIDE THESE 
*****************************************************************/
.dbx-clone 
{
    position:absolute;
    visibility:hidden;
}
.dbx-clone, .dbx-clone .dbx-handle-cursor 
{
    cursor:move !important;
}
.dbx-dummy 
{
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    margin:0 !important;
    padding:0 !important;
}
.dbx-group, .dbx-box, .dbx-handle 
{
    position:relative;
    display:block;
}

.textarea-div {
	width: 100% !important;
}

.textare-container {
	position: relative;
	display: block;
	width: 95%;
	border: dashed 2px #a4bec6;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

/****************************************************************
  DO NOT ADD padding, margins or borders to dbx-box, 
  to avoid layout discrepancies between it and the clone.  
  dbx-box is best left as visually unstyled as possible 
  (instead, have another element inside the box, and style that)
*****************************************************************/
.dbx-box 
{
    margin:0;
    padding:0;
    border:none;
}

/****************************************************************
  otherwise, do what you like :) 
*****************************************************************/
