@import url('mobile.css');

/* css for jwysiwyg */
body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 16px; 
	margin: 0px 0px 0px 0px;
	padding: 0px 4px 0px 4px;  
	word-wrap: break-word;
	overflow: auto;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

ul, ol {
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-margin-before: 8px;
	-webkit-margin-after: 8px;   
}

li {
	margin-bottom: 4px; 
	-webkit-margin-after: 4px;   
}

h1, h2, h3 { margin: 4px 0px 4px 0px; }

img.yo { cursor: pointer; }
img.yo-left  { padding: 3px 10px 0px 0px; }
img.yo-right { padding: 3px 0px 0px 10px; }

img.yo { border: 0px solid transparent; }
img.yo.jwysiwyg-selected { 
	border-color: #00f;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
