/* css for jwysiwyg */
body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
