@charset "utf-8";
/* yomobi stylesheet */

body {
	background:url(../images/new_design/mainbg.jpg) center top repeat-x;
	margin:0px;
	font-family:"Trebuchet MS";
	font-size: 14px;
	color:#000000;
}
.passwordlink {
	color:#f0f0f2;
	text-decoration:none;
}
.passwordlink:hover {
	color:#f0f0f2;
	text-decoration:underline;
}
.menulink {
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:15px;
	text-decoration:none;
	line-height:32px;
	padding-top:6px;
	padding-bottom:6px;
/*	margin-left:10px;*/
	padding-left:15px;
	padding-right:15px;
	text-shadow:1px 1px 1px #0273bf;
}
.menulink:hover {
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:15px;
	text-decoration:none;
	line-height:32px;
	padding-top:6px;
	padding-bottom:6px;
/*	margin-left:10px;*/
	padding-left:15px;
	padding-right:15px;
	text-shadow:1px 1px 1px #1c1c1c;
	background:url(../images/new_design/menubutton-bg.jpg);
	border-radius: 7px 7px 7px 7px;
}
.topheader {
	float:left;
	width:950px;
	height:102px;
}
.companylogo {
    background:url(../images/new_design/yomobi-logo-32.png);
	float:left;
	margin-left:10px;
	margin-top:30px;
	width:142px;
	height:32px;
}
.topsignup {
    background:url(../images/new_design/signup-button.png);
	float:right;
	width:162px;
	height:64px;
	margin-top:21px;
}

.signin-bg {
	float:right;
	width:366px;
	height:65px;
	background:url(/images/new_design/signin-bg.png) no-repeat;
	margin-right:30px;
	margin-top:21px;
}
.signin-section1 {
	float:left;
	width:125px;
	margin-top:2px;
	margin-left:13px;
}
.signin-text {
	font-size:11px;
	text-transform:uppercase;
	text-align:left;
	text-shadow:1px 1px 1px #ffd366;
}
.signin-field {
	background:url(../images/new_design/textfield-bg.png);
	width:120px !important;
	height:21px;
	border:none !important;
	padding:0px !important;

	margin-bottom: 0px !important;
	color:#ffba00;
}
.signin-whitetext {
	font-size:9px;
	text-transform:uppercase;
	text-align:left;
	text-shadow:1px 1px 1px #d88202;
	color:#f0f0f2;
	float:left;
	margin-top:2px;
}
.floatleft {
	float:left;
}
.checkbox {
	padding:0px;
	margin:0px;
	margin-top:2px;
	margin-right:3px;
}
.signin-section2 {
	float:left;
	width:130px;
	margin-top:2px;
	margin-left:5px;
}
.signin-button {
	float:left;
	width:45px;
	height:23px;
	margin-top:20px;
}
.menumain {
	float:left;
	width:950px;
	height:55px;
}
.menu-corner1 {
	float:left;
	background:url(../images/new_design/menu-corner1.png);
	width:6px;
	height:55px;
}
.menu-bg {
	float:left;
	background:url(../images/new_design/menu-bg.jpg);
	width:938px;
	height:55px;
}
.menu-ul {
	list-style:none;
	display:inline;
}
.menu-li {
	float:left;
	margin-top:10px;
}
.menu-corner2 {
	float:right;
	background:url(../images/new_design/menu-corner2.png);
	width:6px;
	height:55px;
}
.social-icon {
	float:right;
	margin-top:20px;
	width:50px;
}
.main-whitebg {
	float:left;
	width:950px;
	background:#FFFFFF;
}
.header-main {
	float:left;
	width:950px;
	margin-top:36px;
}
.left-arrow {
	float:left;
	width:21px;
	height:35px;
	margin-left:25px;
	margin-top:150px;
}
.right-arrow {
	float:right;
	width:21px;
	height:35px;
	margin-right:25px;
	margin-top:150px;
}
.header-bg {
	float:left;
	width:827px;
	height:388px;
	background:url(../images/new_design/header-bg.jpg) no-repeat;
	margin-left:55px;
}
#header-slider {
	width:800px;
	height:300px;
/*	margin:auto;*/
	margin-top:28px;
}
    #header-slider ul{
	    width:800px;
	    height:300px;
            list-style:none;
    }

.slider-text{
    float:left;
    width:310px;
    margin-top:20px;
    margin-left:10px;
}


.content-heading2{
    float:left;
	font-size:30px;
	font-weight:bold;
	text-align:left;

}
.slider-image{
    margin-top:40px;
}

.yomobi-com{
    margin-left:30px;
}
.read-more{
    margin-top: 10px;
    cursor: pointer;
}
.content-text2{
    float:left;
	margin-left:10px;
	margin-top:3px;
	text-align:left;
	font-size:14px;
}

.free {
	color: red;
}

.devider-line {
	width:866px;
	height:1px;
	margin:42px;
	background:#cccccc;
	float:left;
}
.main-content {
	float:left;
	width:866px;
	margin-left:42px;
	margin-right:42px;
}
.content-heading {
	float:left;
	width:866px;
	font-size:30px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
}
.content-image {
	float:left;
	width:247px;
	height:286px;
	margin-top:25px;
}
.content-text {
	float:left;
	width:569px;
	margin-left:50px;
	margin-top:25px;
	text-align:left;
	font-size:14px;
}
.content-list {
	float:left;
	width:250px;
	margin-left:50px;
	margin-top:25px;
	font-size:14px;
	text-transform:uppercase;
}
.blue-text {
	color:#038be6;
}
.content-ul {
	list-style:url(../images/new_design/arrow-bullet.png);
	line-height:20px;
}
.content-signup {
	float:left;
	width:215px;
	height:76px;
	margin-top:80px;
	margin-left:50px;
}

.signin-bg {
float: right;
width: 366px;
height: 65px;
background: url(../images/new_design/signin-bg.png) no-repeat;
margin-right: 30px;
margin-top: 21px;
}

.social-facebook {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/facebook.jpg) center top;
	cursor:default;
	width:50px;
}
.social-facebook:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/facebook-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-twitter {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/twitter.jpg) center top;
	cursor:default;
	width:50px;
}
.social-twitter:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/twitter-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-linkdin {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin.jpg) center top;
	cursor:default;
	width:50px;
}
.social-linkdin:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-linkdin {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin.jpg) center top;
	cursor:default;
	width:50px;
}
.social-linkdin:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-stumble {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/stumble.jpg) center top;
	cursor:default;
	width:50px;
}
.social-stumble:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/stumble-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-google {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/google.jpg) center top;
	cursor:default;
	width:50px;
}
.social-google:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/google-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-gmail {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/gmail.jpg) center top;
	cursor:default;
	width:50px;
}
.social-gmail:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/gmail-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}


.footer-main {
	margin-top:25px;
	float:left;
	width:100%;
	background:url(../images/new_design/footerbg.jpg) center top #f0f0f2;
	height:103px;
}
.footer-wrapper {
	width:950px;
	margin:auto;
}
.footer-text {
	float:left;
	width:950px;
	margin-top:50px;
	text-align:center;
	color:#3a3a3a;
	font-size:13px;
	line-height:20px;
}

.footerlink {
	color:#000000;
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
	text-transform:uppercase;
}
.footerlink:hover {
	color:#038be6;
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
	text-transform:uppercase;
}
#page-wrapper{
	width:950px;
	margin:auto;
}
.wrapper {
	width:950px;
	margin:auto;
}
.footer-social {
	float:left;
	width:950px;
	text-align:center;
	margin-top:50px;
}

.footer-text1 {
	float:left;
	width:950px;
	margin-top:10px;
	text-align:center;
	margin-bottom:10px;
	color:#3a3a3a;
	font-size:13px;
	line-height:20px;
}
/**End footers***/

/**Complete yomobi stylesheet file**/

.pagecorner {
	float:left;
	width:950px;
	height:16px;
	background: url(/images/new_design/page-corner.png) center top repeat-x;
}
.topmenu-li {
	float:right;
	margin-top:22px;
}

.topmenulink {
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	line-height:32px;
	padding-top:6px;
	padding-bottom:6px;
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
}
.topmenulink:hover {
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	line-height:32px;
	padding-top:6px;
	padding-bottom:6px;
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
	background:url(../images/new_design/top-menubg.jpg);
	border-radius: 5px 5px 5px 5px;
}
.topheader1 {
	float:left;
	width:950px;
	height:74px;
}

.companylogo1 {
	float:left;
	margin-left:10px;
	margin-top:24px;
	width:200px;
	height:43px;
}

.footer-main1 {
	float:left;
	width:100%;
	background:url(../images/new_design/footerbg.jpg) center top #f0f0f2 repeat-x;
}
.footer-text1 {
	float:left;
	width:950px;
	margin-top:10px;
	text-align:center;
	margin-bottom:10px;
	color:#3a3a3a;
	font-size:13px;
	line-height:20px;
}
.leftmenulink {
	color:#0099ff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
}
.leftmenulink:hover {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
}

.leftmenusublink {
	font-size:13px;
	font-family:Tahoma;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}
.leftmenusublink:hover {
	font-size:13px;
	font-family:Tahoma;
	color:#999999;
	font-weight:bold;
	text-decoration:none;
}

.mobilewidgets {
	float:left;
	margin-top:10px;
	width:160px;
}
.widgetmain {
	float:left;
	background:url(../images/new_design/dottedline2.jpg) left bottom repeat-x;
	width:160px;
	height:24px;
}
.widgetmain1 {
	float:left;
	width:160px;
	height:24px;
}
.widgeticon {
	float:left;
	width:18px;
	height:18px;
	margin-top:3px;
}
.widgetlink {
	float:left;
	width:137px;
	margin-left:5px;
	line-height:23px;
}
.innerpage-heading {
	float:left;
	width:730px;
	margin-left:15px;
	font-size:30px;
	font-weight:bold;
	text-align:left;
	color:#000000;
}
.section3-main {
	float:right;
	width:304px;
	margin-left:15px;
}
.section4-main {
	float:right;
	width:730px;
	margin-left:15px;
}
.section5-main {
	width:730px;
	margin:auto;
	margin-top:35px;
}
.section3-bluegradient {
	float:left;
	width:274px;
	padding:15px;
	background:-moz-linear-gradient(top, #e5f5ff 0%, #ffffff 100%);
}
.section4-bluegradient {
	float:left;
	width:700px;
	padding:15px;
	background:-moz-linear-gradient(top, #e5f5ff 0%, #ffffff 100%);
}
.section3-heading {
	float:left;
	width:274px;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000000;
}
.section3-text {
	float:left;
	width:274px;
	color:#5f6366;
	font-size:12px;
	text-align:left;
	margin-top:10px;
}
.main-heading {
	float:left;
	width:700px;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000000;
}
.section-heading {
	float:left;
	width:700px;
	color:#5f6366;
	font-size:14px;
	text-align:left;
	margin-top:10px;
}
.section4-caption {
	float:left;
	width:700px;
	color:#0099ff;
	font-size:14px;
	text-align:left;
	margin-top:10px;
}
.main-field {
	float:left;
	width:700px;
	color:#000000;
	font-size:14px;
	text-align:left;
	margin-top:3px;
}

.section2-main {
	float:right;
	width:395px;
	padding-right:15px;
	padding-left:15px;
	background:url(../images/dottedline3.jpg) right top repeat-y;
}



.main-field input{
	height:30px;
	box-shadow:1px 1px #d7d7d7;
}
.textfields {
	width:695px;
	height:30px;
	border:1px solid #7bc9fd;
	box-shadow:1px 1px #d7d7d7;
}
.textfields1 {
	width:695px;
	border:1px solid #7bc9fd;
	box-shadow:1px 1px #d7d7d7;
}

/**Social Share***/
.social-facebook-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/facebook1.jpg) center top;
	cursor:default;
	width:50px;
}
.social-facebook-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/facebook1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-twitter-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/twitter1.jpg) center top;
	cursor:default;
	width:50px;
}
.social-twitter-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/twitter1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-linkdin-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin1.jpg) center top;
	cursor:default;
	width:50px;
}
.social-linkdin-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-linkdin-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin1.jpg) center top;
	cursor:default;
	width:50px;
}
.social-linkdin-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-stumble-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/stumble1.jpg) center top;
	cursor:default;
	width:50px;
}
.social-stumble-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/stumble1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-google-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/google1.jpg) center top;
	cursor:default;
	width:50px;
}
.social-google-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/google1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-gmail-footer {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/gmail1.jpg) center top;
	cursor:default;
	width:50px;
	margin-right:300px;
}
.social-gmail-footer:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/gmail1-hover.jpg) center top;
	cursor:pointer;
	width:50px;
	margin-right:300px;
}

/**Social Share End***/

/*****Sign Up ****/


#step-arrows {
  background: #eceef4;
  width: 500px;
  margin: 20px auto;
  background: url(/images/ui/step-arrow-inactive-bg.png) repeat-x; }
  #step-arrows .arrow {
    float: left; }
    #step-arrows .arrow .content {
      height: 40px;
      padding: 11px 10px 0 15px; }
    #step-arrows .arrow .title {
      font-size: 13px;
      font-weight: bold; }
    #step-arrows .arrow label {
      font-size: 9px; }
    #step-arrows .arrow .part {
      height: 51px;
      background: url(/images/ui/step-arrow-parts.png); }
    #step-arrows .arrow .point {
      width: 21px; }
    #step-arrows .arrow .back {
      width: 3px;
      background-position: -24px 0; }
  #step-arrows .arrow > * {
    float: left; }
  #step-arrows .arrow.active .content {
    color: white;
    background: url(/images/ui/step-arrow-active-bg.png) repeat-x; }
  #step-arrows .arrow.inactive .point {
    background-position: -30px 0; }
  #step-arrows .arrow.just-active .point {
    background-position: -51px 0; }
  #step-arrows .arrow.active .back {
    background-position: -21px 0; }

.margin-top{
    margin-top: 14px;
}

.margin-right{
    margin-right: 25px;
}

.section4-text {
float: left;
width: 700px;
color: #5F6366;
font-size: 14px;
text-align: left;
margin-top: 10px;
}

