@charset "utf-8";
/* yomobi stylesheet */

body {
	background:url(../images/new_design/mainbg.jpg) center top repeat-x;
	margin:0px;
	font-family:"Trebuchet MS";
	font-size: 14px;
	color:#000000;
}

.pretty-button {
	background: #0290ee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	color: white;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.passwordlink {
	color:#f0f0f2;
	text-decoration:none;
}
.passwordlink:hover {
	color:#f0f0f2;
	text-decoration:underline;
}
.menulink {
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	line-height:32px;
	padding-top:6px;
	padding-bottom:6px;
/*	margin-left:10px;*/
	padding-left:12px;
	padding-right:12px;
	text-shadow:1px 1px 1px #0273bf;
}
.menulink:hover {
	text-shadow:1px 1px 1px #1c1c1c;
	background:url(../images/new_design/menubutton-bg.jpg);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

}
.footerlink {
	color:#000000;
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
	text-transform:uppercase;
}
.footerlink:hover {
	color:#038be6;
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
	text-transform:uppercase;
}.wrapper {
	width:950px;
	margin:auto;
}
.topheader {
	float:left;
	width:950px;
	height:102px;
}
.companylogo {
    background:url(../images/new_design/yomobi-logo-32.png);
	float:left;
	margin-left:10px;
	margin-top:30px;
	width:142px;
	height:32px;
}
.signup-btn {
    background:url(../images/new_design/signup-button.png);
	float:right;
	text-decoration: none;
	font-family: Impact, Charcoal, sans-serif;
	font-family: ‘Arial Narrow’, sans-serif;
	font-size: 34px;
	font-weight: bold;
  	padding: 13px;
	color: #2c1d06;
  	border-radius: 4px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.signup-btn-top {
	margin-top: 21px;
  	background: #0290ee;
  	color: white;	
}

.signup-btn-body {
  	background: #ff9f02;	
}


.signin-bg {
	float: right;
	min-height: 65px;
  	background: #ff9f02;
  	border-radius: 4px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	margin-right: 30px;
	margin-top: 21px;
}
.signin-bg table {
	border-collapse: collapse;
	border-spacing: 0px;
}
.signin-bg td {
	padding: 0px 6px;	
}
td.signin-text {
	padding-top: 6px;
}
td.top {
	vertical-align: top;
}
.signin-text {
	font-size:12px;
	/* text-transform:uppercase; */
	text-align:left;
	/* text-shadow:1px 1px 1px #ffd366; */
}
.signin-field {
	/* background:url(../images/new_design/textfield-bg.png); */
	width:145px;
	height:21px;
	border:none;
	/* padding-left:5px; */
	/* color:#ffba00; */
}
.signin-lighttext {
	font-size:11px;
	/*ntext-transform:uppercase; */
	text-align:left;
	/* text-shadow:1px 1px 1px #d88202; */
	/* color:#f0f0f2; */
	color:#333;
}
.remember {
	margin-top:3px;
}
.floatleft {
	float:left;
}
.checkbox {
	margin: 1px 0px 0px -2px
}
.signin-button {
	background: #0290ee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	color: white;
	display: block;
	float: left;
	font-size: 16px;
	line-height:12px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	cursor: pointer; 
	border: none;
	float:left;
	padding: 6px 10px;
}
.menumain {
	float:left;
	width:950px;
	height:55px;
}
.menu-corner1 {
	float:left;
	background:url(../images/new_design/menu-corner1.png);
	width:6px;
	height:55px;
}
.menu-bg {
	float:left;
	background:url(../images/new_design/menu-bg.jpg);
	width:938px;
	height:55px;
}
.menu-ul {
	list-style:none;
	display:inline;
}
.menu-li {
	float:left;
	margin-top:10px;
}
.menu-corner2 {
	float:right;
	background:url(../images/new_design/menu-corner2.png);
	width:6px;
	height:55px;
}
.social-icon {
	float:right;
	margin-top:20px;
	width:50px;
}
.main-whitebg {
	float:left;
	width:950px;
	background:#FFFFFF;
}
.header-main {
	float:left;
	width:950px;
	margin-top:36px;
}
.left-arrow {
	float:left;
	width:21px;
	height:35px;
	margin-left:25px;
	margin-top:150px;
}
.right-arrow {
	float:right;
	width:21px;
	height:35px;
	margin-right:25px;
	margin-top:150px;
}
.header-bg {
	float:left;
	width:827px;
	height:388px;
	background:url(../images/new_design/header-bg.jpg) no-repeat;
	margin-left:55px;
}
#header-slider {
	width:800px;
	height:300px;
/*	margin:auto;*/
	margin-top:28px;
}
    #header-slider ul{
	    width:800px;
	    height:300px; 
            list-style:none;
    }

.slider-text{
    float:left;
    width:310px;
    margin:20px 10px 0px 0px;
}


.content-heading2{
    float:left;
	font-size:30px;
	font-weight:bold;
	text-align:left;

}
.slider-image{
    margin-top:40px;
}

.yomobi-com{
    margin-left:30px;
}
.read-more{
	max-width: 220px;
    margin: 10px 0 0 10px;
    cursor: pointer;
}
.content-text2{
    float:left;
	margin:8px 0px 6px 0px;
	padding-right: 10px;
	text-align:left;
	font-size:14px;
}

.hilite, .hilite a {
	color: red;
	font-weight:bold;
}

.hilite-good, .hilite-good a {
	color: green;
	font-weight:bold;
}

.hilite-warning, .hilite-warning a {
	color: red;
	font-weight:bold;
}

.devider-line {
	width:866px;
	height:1px;
	margin:42px;
	background:#cccccc;
	float:left;
}
.main-content {
	float:left;
	width:866px;
	margin-left:42px;
	margin-right:42px;
}
.content-heading {
	float:left;
	width:866px;
	font-size:30px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
}
.content-image {
	float:left;
	/* width:247px; */
	height:286px;
	margin-top:25px;
}
.content-text {
	float:left;
	width:569px;
	margin-left:50px;
	margin-top:25px;
	text-align:left;
	font-size:14px;
}
.content-list {
	float:left;
	/* width: 250px; */
	max-width:330px;
	margin-left:50px;
	margin-top:25px;
	font-size:14px;
	/* text-transform:uppercase; */
}
.blue-text {
	color:#038be6;
}
.content-ul {
	list-style:url(../images/new_design/arrow-bullet.png);
	line-height:20px;
}
.content-signup {
	float:left;
	margin-top:80px;
	margin-left:50px;
}
.footer-main {
	margin-top:25px;
	float:left;
	width:100%;
	background:url(../images/new_design/footerbg.jpg) center top #f0f0f2;
	height:103px;
}
.footer-wrapper {
	width:950px;
	margin:auto;
}
.footer-text {
	float:left;
	width:950px;
	margin-top:50px;
	text-align:center;
	color:#3a3a3a;
	font-size:13px;
	line-height:20px;
}

.social-facebook {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/facebook.jpg) center top;
	cursor:default;
	width:50px;
}
.social-facebook:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/facebook-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-twitter {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/twitter.jpg) center top;
	cursor:default;
	width:50px;
}
.social-twitter:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/twitter-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-linkdin {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin.jpg) center top;
	cursor:default;
	width:50px;
}
.social-linkdin:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-linkdin {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin.jpg) center top;
	cursor:default;
	width:50px;
}
.social-linkdin:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/linkdin-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-stumble {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/stumble.jpg) center top;
	cursor:default;
	width:50px;
}
.social-stumble:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/stumble-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-google {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/google.jpg) center top;
	cursor:default;
	width:50px;
}
.social-google:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/google-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}
.social-gmail {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/gmail.jpg) center top;
	cursor:default;
	width:50px;
}
.social-gmail:hover {
	float:right;
	margin-top:15px;
	height:28px;
	background:url(../images/new_design/gmail-hover.jpg) center top;
	cursor:pointer;
	width:50px;
}

