body {
  margin: 0;
  padding: 0; }

#mobile-container {
  width: 320px;
  overflow: hidden; }

#canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 640px; }
  #canvas .page {
    float: left;
    width: 320px; }
    #canvas .page .content {
      padding: 0 4px; }

.top-bar {
  width: 304px;
  height: 48px;
  padding: 8px;
  background: #3b5998;
  color: white; }

#company-info .logo {
  float: left;
  width: 48px;
  height: 48px;
  background: no-repeat; }
#company-info .name {
  float: left;
  font-size: 24px;
  padding: 8px 0 0 12px; }

.back-btn {
  width: 50px;
  height: 30px;
  margin-top: 8px;
  background: url(/images/back-btn.png) no-repeat; }

.home-icon {
  float: left;
  width: 75px;
  height: 115px; }
  .home-icon .inner {
    padding: 7.5px 5.5px 7.5px 5.5px; }
  .home-icon .icon {
    width: 64px;
    height: 64px;
    background: no-repeat; }
    .home-icon .icon:hover {
      cursor: pointer; }
  .home-icon .title {
    width: 64px;
    text-align: center;
    font-size: 14px; }

#templates {
  display: none; }

.clearfix {
  clear: both; }
