body {
  margin: 0;
  padding: 0; }

a img {
  border: none; }

p {
  font-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

.leaf-content h1, .leaf-content h2, .leaf-content h3 {
  margin: 0px; }
.leaf-content h1, .leaf-content h2, .leaf-content h3 {
  margin-bottom: 6px; }
.leaf-content ul, .leaf-content ol {
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-margin-before: 8px;
  -webkit-margin-after: 8px; }
.leaf-content li {
  margin-bottom: 4px;
  -webkit-margin-after: 4px; }

.input-wrap p {
  margin-bottom: 1em; }

#mobile-container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; }

#canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 640px; }
  #canvas .page {
    float: left;
    width: 320px; }
    #canvas .page p.error {
      margin-bottom: 0;
      color: #880000; }

#canvas .page > .content {
  min-height: 120px;
  padding: 20px 10px;
  font-size: 16px;
  word-break: break-word; }
  #canvas .page > .content label {
    margin-bottom: 2px; }
  #canvas .page > .content input[type=text] {
    width: 70%;
    margin: 0px 0px 10px 0px;
    font-size: 1em; }
  #canvas .page > .content textarea {
    width: 90%;
    font-size: 1em;
    height: 4em; }
  #canvas .page > .content input[type=submit] {
    margin: 10px 0;
    font-size: 1em; }
  #canvas .page > .content select {
    font-size: 1em;
    margin: 0 0 10px 0; }
  #canvas .page > .content .divider {
    border-top: 1px solid #dddddd;
    margin: 8px 0; }

.back-bar {
  width: 100%;
  padding: 0;
  margin: 12px 0 12px 0;
  background: #b8b8b8;
  /* IE10 */
  background-image: -ms-linear-gradient(top, white 0%, #b8b8b8 50%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, white 0%, #b8b8b8 50%);
  /* Opera */
  background-image: -o-linear-gradient(top, white 0%, #b8b8b8 50%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #b8b8b8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, white 0%, #b8b8b8 50%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, white 0%, #b8b8b8 50%);
  color: #333333; }
  .back-bar .title {
    float: left;
    padding-top: 12px;
    width: 250px;
    height: 27px; }
    .back-bar .title h3 {
      margin: 0;
      font-weight: bold;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.company-info {
  width: 100%;
  padding-left: 0 1px 0 8px;
  color: white;
  background: #2a426a;
  /* IE10 */
  background-image: -ms-linear-gradient(bottom, #2a426a 0%, white 500%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #2a426a 0%, white 500%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #2a426a 0%, white 500%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2a426a), color-stop(5, white));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #2a426a 0%, white 500%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom, #2a426a 0%, white 500%); }
  .company-info table {
    height: 60px; }
  .company-info td {
    vertical-align: center; }
  .company-info td.top {
    vertical-align: top; }
  .company-info .logo {
    background: no-repeat;
    margin: 2px 0px 2px 0px; }
  .company-info .name {
    padding-left: 8px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1em; }
  .company-info .slogan {
    font-size: 15px;
    padding: 6px 8px;
    font-style: italic;
    line-height: 1em; }
  .company-info .banner-wrap {
    text-align: center; }
  .company-info img.banner {
    max-width: 100%; }

.tab-bar {
  background: #c4cde0;
  color: white;
  padding: 0;
  border-top: solid 1px #1d4088;
  border-bottom: solid 1px #1d4088; }
  .tab-bar table {
    width: 100%;
    margin-bottom: 0px; }
    .tab-bar table tr {
      height: 36px; }
  .tab-bar a, .tab-bar a:visited {
    text-decoration: none; }
  .tab-bar td, .tab-bar td a {
    width: 25%;
    padding: 6px 3px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #3b59a0; }
    .tab-bar td div, .tab-bar td a div {
      width: 100%;
      word-wrap: break-word; }
  .tab-bar td:hover {
    cursor: pointer; }

.ad-bar {
  display: none;
  padding: 0 0;
  border-bottom: 1px solid #627aad;
  background: #2a426a;
  text-align: center;
  max-height: 50px;
  overflow: hidden; }
  .ad-bar.bottom {
    border-top: 1px solid #627aad;
    border-bottom: none; }

.back-btn {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  float: left;
  width: 48px;
  height: 38px;
  border-right: 1px solid gray;
  margin: 0px 12px 0 1px;
  padding: 0; }

.title h2, .title h3 {
  margin: 9px 0 0 15px;
  font-weight: normal; }
.title h2 {
  font-size: 24px; }
.title h3 {
  font-size: 1em; }

.home-icon {
  float: left;
  width: 25%;
  height: 102px; }
  .home-icon a {
    color: #000;
    text-decoration: none; }
  .home-icon .inner {
    padding: 7.5px 5.5px 7.5px 5.5px; }
  .home-icon .icon {
    width: 57px;
    height: 57px;
    background-size: 57px 57px !important;
    margin: 0 auto 4px auto;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background-repeat: repeat; }
    .home-icon .icon:hover {
      cursor: pointer; }
  .home-icon .title {
    width: 70px;
    margin-left: -2px;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    word-wrap: break-word; }

.mobile-footer {
  font-size: 14px;
  width: 100%;
  padding: 12px 0 8px 0;
  background: #c4cde0;
  border-top: solid 1px #1d4088;
  border-bottom: solid 1px #1d4088;
  color: #3b59a0; }
  .mobile-footer a, .mobile-footer a:visited {
    color: inherit; }
  .mobile-footer p {
    margin: 0 0 10px 0;
    padding-left: 5px; }
  .mobile-footer .social-share {
    margin: 0;
    padding: 0 0 0 5px;
    list-style: none; }
    .mobile-footer .social-share li {
      float: left;
      cursor: pointer;
      margin-right: 12px !important; }
  .mobile-footer .powered-by {
    font-size: 14px;
    text-align: center; }

#templates {
  display: none; }

.aritcaptcha-container {
  min-height: 60px;
  max-height: 80px;
  margin-bottom: 4px; }
  .aritcaptcha-container label {
    display: block; }
  .aritcaptcha-container input[type=text] {
    width: 100px !important;
    margin: 5px 0 0 0 !important; }

.clearfix {
  clear: both; }

.page > .content.leave_msg textarea[name="feedback"] {
  width: 95%; }

.page > .content.hours .day-name {
  width: 95px;
  padding-right: 10px;
  font-weight: bold;
  float: left; }
.page > .content.hours .day-hours {
  float: left; }
.page > .content.hours .closed {
  color: #aa0000; }
.page > .content.hours .open {
  color: #007700; }
.page > .content.hours .all-day {
  color: #000099; }

.page > .content.gmap h1 {
  padding-left: 4px; }
.page > .content.gmap p {
  font-weight: bold;
  padding-bottom: 6px; }
.page > .content.gmap .maps {
  height: 305px;
  text-align: center; }
  .page > .content.gmap .maps .map-link {
    margin: 10px 0; }
.page > .content.gmap .directions {
  margin-top: 15px; }
  .page > .content.gmap .directions .banner {
    padding: 2px 0;
    margin-bottom: 4px;
    background: #c4cde0;
    color: #3c59a0;
    font-weight: bold; }

.page > .content.category, .page > .content.page_tree {
  padding: 0 10px 20px 8px !important; }
  .page > .content.category .item-nav, .page > .content.page_tree .item-nav {
    background: #ECEBEB;
    margin: 8px 0;
    padding: 8px 0;
    text-align: center;
    width: 100%; }
    .page > .content.category .item-nav td, .page > .content.page_tree .item-nav td {
      vertical-align: middle; }
    .page > .content.category .item-nav td label, .page > .content.page_tree .item-nav td label {
      margin: 0 !important; }
    .page > .content.category .item-nav button, .page > .content.page_tree .item-nav button {
      margin: 0 10px;
      cursor: pointer; }
    .page > .content.category .item-nav button.disabled, .page > .content.page_tree .item-nav button.disabled {
      visibility: hidden; }
  .page > .content.category table.node-list, .page > .content.page_tree table.node-list {
    width: 100%; }
  .page > .content.category .category .txt-col, .page > .content.page_tree .category .txt-col {
    padding-right: 16px; }
  .page > .content.category td.img-col, .page > .content.page_tree td.img-col {
    width: 10%;
    max-width: 80px;
    background: none !important; }
    .page > .content.category td.img-col img, .page > .content.page_tree td.img-col img {
      /* Optional rounded corners for browsers that support it */
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      -khtml-border-radius: 0px;
      border-radius: 0px; }
  .page > .content.category .item.category td, .page > .content.page_tree .item.category td {
    vertical-align: middle; }
  .page > .content.category .item td, .page > .content.page_tree .item td {
    vertical-align: top;
    padding: 8px 12px 8px 0px;
    font-size: 16px; }
    .page > .content.category .item td .img-col, .page > .content.page_tree .item td .img-col {
      padding-right: 6px; }
    .page > .content.category .item td > div, .page > .content.page_tree .item td > div {
      padding-bottom: 2px; }
    .page > .content.category .item td > :empty, .page > .content.page_tree .item td > :empty {
      padding: 0; }
    .page > .content.category .item td .content, .page > .content.page_tree .item td .content {
      width: 97%;
      float: none; }
  .page > .content.category .item td.nav-col, .page > .content.page_tree .item td.nav-col {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin: 0px;
    padding: 0px;
    width: 10px;
    text-alight: right;
    vertical-align: middle; }
  .page > .content.category .item td, .page > .content.page_tree .item td {
    cursor: pointer; }
  .page > .content.category .item.category, .page > .content.category .item.leaf-name, .page > .content.page_tree .item.category, .page > .content.page_tree .item.leaf-name {
    padding: 8px 20px 8px 0px; }
  .page > .content.category .item:first-child, .page > .content.category .category:first-child, .page > .content.page_tree .item:first-child, .page > .content.page_tree .category:first-child {
    border-top: none; }
  .page > .content.category .c0, .page > .content.category .c1, .page > .content.page_tree .c0, .page > .content.page_tree .c1 {
    border-top: 1px solid #d2d2d2; }
  .page > .content.category .divider, .page > .content.page_tree .divider {
    height: 5px;
    border-top: 1px solid #b3b3b3;
    background: #dddddd;
    margin: 0; }
  .page > .content.category .separator, .page > .content.page_tree .separator {
    background: #b3b3b3;
    height: 1px; }

.page > .content.category .name {
  float: left;
  width: 97%;
  font-size: 16px; }
.page > .content.category .name.long {
  width: 100%;
  padding: 0 0 8px 0; }
.page > .content.category .price {
  float: left;
  width: 97%;
  font-size: 14px; }
.page > .content.category .desc, .page > .content.category .post-content {
  width: 97%;
  margin-top: 0;
  padding-top: 4px;
  font-size: 15px; }
.page > .content.category .desc.long {
  width: 100%; }
.page > .content.category .post-content > * {
  max-width: 100% !important; }
.page > .content.category .post-content img {
  max-width: 100% !important;
  height: auto !important; }
.page > .content.category .post-content p {
  margin: 20px 0; }

#cat-crumbs-test {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  background-color: #ff0000;
  visibility: hidden;
  text-align: left;
  font-weight: bold;
  font-size: 12px; }

pre {
  margin-bottom: 0px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif; }

.wphoto-large {
  float: left;
  text-align: left;
  max-width: 100%; }
  .wphoto-large img {
    max-width: 100%;
    margin: 0px 15px 15px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px; }

.wphoto-large.centered {
  text-align: center;
  float: none;
  width: 100%; }

.wphoto-large.centered img {
  margin: 0 0 6px 0; }

.wphoto-large-separator {
  height: 4px;
  width: 100%;
  margin-bottom: 4px;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #d5e3f0 0%, #b3b3b3 50%, #d5e3f0 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #d5e3f0 0%, #b3b3b3 50%, #d5e3f0 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #d5e3f0 0%, #b3b3b3 50%, #d5e3f0 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d5e3f0), color-stop(0.5, #b3b3b3), color-stop(1, #d5e3f0));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #d5e3f0 0%, #b3b3b3 50%, #d5e3f0 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #d5e3f0 0%, #b3b3b3 50%, #d5e3f0 100%); }

.node-list .wphoto img {
  margin: 0px;
  padding: 0px; }

.yomobi-upgrade-ad {
  font-size: 13px;
  font-weight: bold;
  color: red;
  background: yellow;
  height: 50px;
  max-height: 50px; }
  .yomobi-upgrade-ad table {
    height: 100%;
    border-collapse: collapse; }
  .yomobi-upgrade-ad td {
    padding: 0px 3px; }
  .yomobi-upgrade-ad a {
    color: red;
    text-decoration: none; }
  .yomobi-upgrade-ad a:hover {
    text-decoration: underline; }

img.yo-left {
  padding: 3px 10px 0px 0px; }

img.yo-right {
  padding: 3px 0px 0px 10px; }
