body {
  margin: 0;
  padding: 0; }

#mobile-container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }

#canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 640px; }
  #canvas .page {
    float: left;
    width: 320px; }
    #canvas .page .content {
      padding: 0 4px;
      font-size: 16px; }
    #canvas .page p.error {
      margin-bottom: 0;
      color: #880000; }

.back-bar, .company-info {
  width: 304px;
  height: 48px;
  padding: 8px;
  background: #3b5998;
  color: white; }

.company-info {
  padding-left: 4px;
  width: 308px; }
  .company-info td {
    vertical-align: center; }
  .company-info .logo {
    background: no-repeat; }
  .company-info .name {
    padding-left: 5px;
    font-size: 17px;
    font-weight: bold; }

.tab-bar {
  background: #3b5998;
  color: white;
  padding: 0 4px; }
  .tab-bar table {
    width: 100%; }
  .tab-bar a, .tab-bar a:visited {
    color: white;
    text-decoration: none; }
  .tab-bar td {
    width: 79.25px;
    padding: 6px 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px; }
    .tab-bar td div {
      width: 79.25px;
      word-wrap: break-word; }
  .tab-bar td:hover {
    cursor: pointer; }
  .tab-bar td.active {
    background: #627aad; }

.ad-bar {
  padding: 4px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  background: #3b5998;
  text-align: center; }

.back-btn {
  float: left;
  width: 50px;
  height: 30px;
  margin: 8px 8px 0 0;
  background: url(/images/back-btn.png) no-repeat; }

.title h2, .title h3 {
  margin: 9px 0 0 15px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal; }
.title h2 {
  font-size: 24px; }
.title h3 {
  font-size: 18px; }

.home-icon {
  float: left;
  width: 75px;
  height: 98px; }
  .home-icon .inner {
    padding: 7.5px 5.5px 7.5px 5.5px; }
  .home-icon .icon {
    width: 64px;
    height: 64px;
    background: no-repeat; }
    .home-icon .icon:hover {
      cursor: pointer; }
  .home-icon .title {
    width: 64px;
    height: 26px;
    overflow: hidden;
    text-align: center;
    font-size: 11px;
    word-wrap: break-word;
    font-weight: bold; }

#templates {
  display: none; }

.clearfix {
  clear: both; }

.page .content.leave_msg textarea[name="feedback"] {
  width: 95%; }

.page .content.hours .closed {
  color: #aa0000; }
.page .content.hours .open {
  color: #007700; }
.page .content.hours .all-day {
  color: #000099; }

.page .content.gmap h1, .page .content.gmap p {
  padding-left: 4px; }
.page .content.gmap .maps {
  height: 305px;
  text-align: center; }
  .page .content.gmap .maps .map-link {
    margin: 10px 0; }

.page .content.category, .page .content.page_tree {
  padding: 0; }
  .page .content.category .item, .page .content.page_tree .item {
    padding: 8px 0 8px 12px;
    font-size: 18px; }
    .page .content.category .item img, .page .content.page_tree .item img {
      max-height: 290px;
      max-width: 290px; }
  .page .content.category .item.category, .page .content.category .item.leaf-name, .page .content.page_tree .item.category, .page .content.page_tree .item.leaf-name {
    cursor: pointer; }
  .page .content.category .c0, .page .content.page_tree .c0 {
    background: white; }
  .page .content.category .c1, .page .content.page_tree .c1 {
    background: #d8dfea; }
  .page .content.category .subcat-arrow, .page .content.category .leaf-arrow, .page .content.page_tree .subcat-arrow, .page .content.page_tree .leaf-arrow {
    float: right;
    width: 29px;
    height: 29px;
    margin-top: -4px; }
  .page .content.category .subcat-arrow, .page .content.page_tree .subcat-arrow {
    background: url(/images/ui/subcat-arrow.png); }
  .page .content.category .leaf-arrow, .page .content.page_tree .leaf-arrow {
    background: url(/images/ui/leaf-arrow.png); }
