#header.signed-out {
  padding: 14px 0 20px 0;
  background: #3b5998;
  color: white;
  height: 42px; }
  #header.signed-out .subtext, #header.signed-out .subtext:visited {
    color: #98a9ca; }
  #header.signed-out a {
    text-decoration: none; }
  #header.signed-out a:hover {
    text-decoration: underline; }
  #header.signed-out > .content {
    width: 960px;
    margin: 0 auto; }
  #header.signed-out #logo {
    float: left;
    width: 188px;
    padding: 8px 0 0 12px;
    font-size: 3em; }
  #header.signed-out form {
    float: right;
    width: 400px; }
    #header.signed-out form .group {
      width: 160px; }
    #header.signed-out form input[type=text], #header.signed-out form input[type=password] {
      width: 142px; }
    #header.signed-out form .main-btn {
      margin-top: 14px; }
  #header.signed-out #nav {
    display: none; }

#sidebar {
  float: left;
  width: 200px; }
  #sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 54px; }
  #sidebar .option {
    height: 16px;
    padding: 3px 0 2px 4px;
    clear: left; }
    #sidebar .option .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url(/images/test-icons.png); }
    #sidebar .option:hover {
      background-color: #d8dfea;
      cursor: pointer; }
  #sidebar .option.basic .icon {
    background-position: 0 0; }
  #sidebar .option.config .icon {
    background-position: 0 -16px; }
  #sidebar .option.builder .icon {
    background-position: 0 -32px; }
  #sidebar .option.active {
    background-color: #d8dfea; }

#content {
  float: left;
  border-top: none;
  width: 960px; }
  #content h1 {
    padding-left: 10px; }

#banner {
  float: left;
  height: 400px;
  padding-top: 40px; }

#signup-box {
  float: right;
  width: 400px;
  padding-top: 40px; }

#step-arrows {
  background: #eceef4;
  width: 500px;
  margin: 20px auto;
  background: url(/images/ui/step-arrow-inactive-bg.png) repeat-x; }
  #step-arrows .arrow {
    float: left; }
    #step-arrows .arrow .content {
      height: 40px;
      padding: 11px 10px 0 15px; }
    #step-arrows .arrow .title {
      font-size: 13px;
      font-weight: bold; }
    #step-arrows .arrow label {
      font-size: 9px; }
    #step-arrows .arrow .part {
      height: 51px;
      background: url(/images/ui/step-arrow-parts.png); }
    #step-arrows .arrow .point {
      width: 21px; }
    #step-arrows .arrow .back {
      width: 3px;
      background-position: -24px 0; }
  #step-arrows .arrow > * {
    float: left; }
  #step-arrows .arrow.active .content {
    color: white;
    background: url(/images/ui/step-arrow-active-bg.png) repeat-x; }
  #step-arrows .arrow.inactive .point {
    background-position: -30px 0; }
  #step-arrows .arrow.just-active .point {
    background-position: -51px 0; }
  #step-arrows .arrow.active .back {
    background-position: -21px 0; }

#account-setup-box {
  width: 500px; }
  #account-setup-box textarea, #account-setup-box input[type=text] {
    width: 98%;
    font-size: 1.5em; }
  #account-setup-box .site-url span {
    font-size: 1.5em; }
  #account-setup-box .site-url input {
    width: 200px; }
