#header.signed-in .signup-bar {
  display: none; }

#header.signed-out {
  padding: 14px 0 25px 0;
  background: #002455;
  color: white;
  height: 42px; }
  #header.signed-out .subtext, #header.signed-out .subtext:visited {
    color: #98a9ca; }
  #header.signed-out > .content {
    width: 1000px;
    margin: 0 auto; }
  #header.signed-out #logo {
    float: left;
    width: 188px;
    padding: 8px 0 0 40px;
    font-size: 3em; }
  #header.signed-out form {
    float: right;
    width: 415px;
    padding-right: 32px; }
    #header.signed-out form .group {
      width: 160px; }
    #header.signed-out form input[type=text], #header.signed-out form input[type=password] {
      width: 142px;
      padding: 0px;
      margin: 0px; }
    #header.signed-out form input[type=checkbox] {
      margin-left: -1px; }
    #header.signed-out form .main-btn {
      margin-top: 17px; }
  #header.signed-out #nav {
    display: none; }

label {
  padding-left: 0px; }

#sidebar {
  float: left;
  width: 200px; }
  #sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 54px; }
  #sidebar .option {
    height: 16px;
    padding: 3px 0 2px 4px;
    clear: left; }
    #sidebar .option .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url(/images/test-icons.png); }
    #sidebar .option:hover {
      background-color: #d8dfea;
      cursor: pointer; }
  #sidebar .option.basic .icon {
    background-position: 0 0; }
  #sidebar .option.config .icon {
    background-position: 0 -16px; }
  #sidebar .option.builder .icon {
    background-position: 0 -32px; }
  #sidebar .option.active {
    background-color: #d8dfea; }

#content {
  float: left;
  border-top: none;
  width: 1000px; }
  #content h1 {
    padding-left: 10px; }

.divider {
  border-top: 1px solid #b3b3b3;
  margin: 10px 0; }

#banner {
  float: left;
  width: 513px;
  height: 400px;
  padding: 20px 0px 0px 40px; }
  #banner h2 {
    margin-bottom: 5px; }
  #banner p {
    margin-top: 5px; }
  #banner .easy-button {
    color: white !important;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    margin: 80px 0px 0px 50px; }
  #banner .images {
    padding-top: 20px; }

.signup-bar {
  background-color: #EDEFF4;
  border-bottom: 1px solid #D8DFEA;
  padding: 5px 0px 5px 30px; }
  .signup-bar a {
    color: white !important;
    text-decoration: none; }
  .signup-bar .description {
    color: #203360;
    font-size: 14px;
    font-weight: bold;
    padding: 19px; }

#signup-box {
  float: left;
  width: 346px;
  padding-top: 20px; }
  #signup-box h2 {
    margin-bottom: 5px; }
  #signup-box p {
    margin: 5px 0; }
  #signup-box > div {
    padding-left: 15px; }
  #signup-box input[type=text], #signup-box input[type=password] {
    width: 268px;
    margin-bottom: 8px; }
  #signup-box input[type=submit] {
    margin: 0px; }

#signin-box .login-error {
  margin: 25px 0 15px;
  padding: 10px;
  border: 1px solid #dd3c10;
  background: #ffebe8; }
  #signin-box .login-error b {
    font-size: 13px; }
  #signin-box .login-error a, #signin-box .login-error a:visited {
    color: #dd3c10; }

#actual-signin-box {
  width: 295px;
  margin: 0 auto; }
  #actual-signin-box .group {
    padding: 5px 0; }
    #actual-signin-box .group label {
      display: block;
      padding-top: 0px; }
  #actual-signin-box input[type=text], #actual-signin-box input[type=password] {
    width: 250px;
    margin-bottom: 0px; }
  #actual-signin-box input[type=submit] {
    margin: 10px 10px 0px 0px; }
  #actual-signin-box .remember-me {
    margin: 2px 0px 10px -1px; }
  #actual-signin-box .forgot-password {
    margin: 2px 0px 10px 0px; }
  #actual-signin-box .meta-group {
    padding-left: 0; }
  #actual-signin-box .main-btn {
    margin-right: 4px; }

#actual-signin-box.sign-in-form .sign-up-offer {
  padding-top: 20px; }

#step-arrows {
  background: #eceef4;
  width: 500px;
  margin: 20px auto;
  background: url(/images/ui/step-arrow-inactive-bg.png) repeat-x; }
  #step-arrows .arrow {
    float: left; }
    #step-arrows .arrow .content {
      height: 40px;
      padding: 11px 10px 0 15px; }
    #step-arrows .arrow .title {
      font-size: 13px;
      font-weight: bold; }
    #step-arrows .arrow label {
      font-size: 9px; }
    #step-arrows .arrow .part {
      height: 51px;
      background: url(/images/ui/step-arrow-parts.png); }
    #step-arrows .arrow .point {
      width: 21px; }
    #step-arrows .arrow .back {
      width: 3px;
      background-position: -24px 0; }
  #step-arrows .arrow > * {
    float: left; }
  #step-arrows .arrow.active .content {
    color: white;
    background: url(/images/ui/step-arrow-active-bg.png) repeat-x; }
  #step-arrows .arrow.inactive .point {
    background-position: -30px 0; }
  #step-arrows .arrow.just-active .point {
    background-position: -51px 0; }
  #step-arrows .arrow.active .back {
    background-position: -21px 0; }

#account-setup-box {
  width: 500px; }
  #account-setup-box h2 {
    margin: 5px 0px 15px 0px; }
  #account-setup-box h3 {
    margin: 10px 0px 5px 0px; }
  #account-setup-box textarea, #account-setup-box input[type=text], #account-setup-box input[type=password] {
    width: 450px;
    font-size: 1.2em; }
  #account-setup-box input[type=text], #account-setup-box input[type=password] {
    margin-bottom: 10px; }
  #account-setup-box textarea {
    height: 7em;
    line-height: 110%; }
  #account-setup-box .site-url span {
    font-size: 1.5em; }
  #account-setup-box .site-url input {
    width: 256px; }
  #account-setup-box a.skip-link {
    padding: 4px 10px 0 0; }
  #account-setup-box td.logo-preview {
    width: 125px;
    height: 100px;
    text-align: center; }

#privacy, #terms {
  margin: 40px; }
