#header {
  padding: 14px 0 20px 0;
  background: #3b5998;
  color: white;
  height: 31px; }
  #header .content {
    width: 960px;
    margin: 0 auto; }
  #header #logo {
    float: left;
    width: 188px;
    padding-left: 12px;
    font-size: 3em; }
  #header #nav {
    float: left;
    width: 758px;
    height: 30px;
    border: 1px solid #1d4088;
    border-bottom: none;
    background: #627aad; }

#sidebar {
  float: left;
  width: 200px; }
  #sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 54px; }
  #sidebar .option {
    height: 16px;
    padding: 3px 0 2px 4px;
    clear: left; }
    #sidebar .option .icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url(/images/test-icons.png); }
    #sidebar .option:hover {
      background-color: #d8dfea;
      cursor: pointer; }
  #sidebar .option.basic .icon {
    background-position: 0 0; }
  #sidebar .option.config .icon {
    background-position: 0 -16px; }
  #sidebar .option.builder .icon {
    background-position: 0 -32px; }
  #sidebar .option.active {
    background-color: #d8dfea; }

#content {
  float: left;
  border-top: none;
  width: 960px; }
  #content h1 {
    padding-left: 10px; }

#banner {
  float: left;
  height: 400px;
  padding-top: 40px; }

#signup-box {
  float: right;
  width: 400px;
  padding-top: 40px; }

#account-setup-wrapper {
  width: 500px;
  margin: 20px auto; }

#account-setup-box textarea, #account-setup-box input[type=text] {
  width: 98%;
  font-size: 1.5em; }
#account-setup-box .site-url span {
  font-size: 1.5em; }
#account-setup-box .site-url input {
  width: 200px; }
