ul.fancy-selectable {
  background: #fff;
  border: 1px solid #b3b3b3;
  list-style: none;
  margin: 0;
  padding: 10px; }
  ul.fancy-selectable li {
    padding: 6px 10px;
    border: 1px solid #b3b3b3;
    margin-bottom: 4px; }
  ul.fancy-selectable li.ui-selecting {
    background: #FECA40; }
  ul.fancy-selectable li.ui-selected {
    background: #F39814;
    color: white; }

#manager-container {
  background: #edeff4;
  border: 1px solid #b3b3b3;
  border-top: none; }

#sites-container {
  float: left; }

#admins-container {
  float: left; }

form#account-setup-box.dialog .loading {
  display: none; }

form#account-setup-box.dialog.submitting .fields {
  display: none; }
form#account-setup-box.dialog.submitting .loading {
  display: block; }
