input[type="button"], input[type="submit"], button {
  background: #5B74A8;
  padding: 2px 6px 3px;
  border: 1px solid #5B74A8;
  border-top-color: #8A9CC2;
  color: white;
  font-weight: bold;
  margin-right: 6px;
  cursor: pointer; }

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
  color: yellow; }

input[type="button"]:disabled, input[type="submit"]:disabled, button:disabled {
  color: gray;
  background: #ddd;
  border-color: gray;
  cursor: default; }

input[type="checkbox"] {
  vertical-align: middle; }

ul.fancy-selectable {
  background: #fff;
  border: 1px solid #b3b3b3;
  list-style: none;
  margin-bottom: 6px;
  padding: 10px; }
  ul.fancy-selectable li {
    padding: 6px 10px;
    border: 1px solid #b3b3b3;
    margin-bottom: 4px;
    cursor: pointer;
    overflow: auto; }
  ul.fancy-selectable li.ui-selecting {
    background: #FECA40; }
  ul.fancy-selectable li.ui-selected {
    background: #F39814;
    color: white; }

#manager-container {
  background: #edeff4;
  border: 1px solid #b3b3b3;
  border-top: none; }

h2.active-site {
  margin: 0;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #b3b3b3; }

.site-list-wrap {
  float: left;
  width: 320px;
  margin: 20px 20px 0px 20px; }
  .site-list-wrap ul.sites {
    height: 400px;
    overflow: auto;
    margin-bottom: 6px; }

.sites img.site-pic, .admins img.site-pic {
  max-width: 50px;
  vertical-align: middle; }
.sites td.site-pic, .admins td.site-pic {
  float: left;
  padding-right: 10px;
  width: 50px;
  text-align: right; }
.sites div.site-url, .admins div.site-url {
  font-weight: bold; }

.accordian {
  float: left;
  width: 625px;
  min-height: 635px;
  padding: 10px;
  border-left: 1px solid #b3b3b3; }
  .accordian .site-details {
    color: #333;
    background: #E4EDF8;
    padding: 1px 10px 10px 10px;
    margin-bottom: 10px;
    border: 2px solid #F39814;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px; }
  .accordian .content-header {
    border: 1px solid transparent;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px; }
    .accordian .content-header .title {
      float: left;
      width: 175px;
      margin: 0; }
    .accordian .content-header .status {
      float: left;
      width: 275px; }
    .accordian .content-header .action {
      color: #3B5998;
      text-decoration: underline;
      float: right; }
  .accordian .content-header.active {
    background: #e5ebf5;
    border-bottom: 0px; }
  .accordian .content-header:hover {
    cursor: pointer;
    background: #e5ebf5; }
  .accordian .content-body {
    padding: 6px 10px 20px 10px;
    background: #e5ebf5;
    display: none;
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #B3B3B3; }
    .accordian .content-body .error {
      margin-top: 10px; }
    .accordian .content-body .payment-complete {
      margin-bottom: 8px; }
    .accordian .content-body .renew {
      margin-top: 12px; }
    .accordian .content-body input[type="button"], .accordian .content-body input[type="submit"], .accordian .content-body button {
      margin-left: 0px; }
    .accordian .content-body .pay-options a {
      margin-right: 6px; }
  .accordian .signup-keys .signup-key-input {
    width: 510px; }
  .accordian ul.admins {
    height: 258px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 585px; }
    .accordian ul.admins img {
      max-width: 50px;
      vertical-align: middle; }

form#account-setup-box.dialog {
  width: 480px; }
  form#account-setup-box.dialog .loading {
    display: none; }

form#account-setup-box.dialog.submitting .fields {
  display: none; }
form#account-setup-box.dialog.submitting .loading {
  display: block; }

.error {
  color: #800; }

.success {
  color: #080; }
