<script type="text/javascript" charset="utf-8">

// global variables
window.g = {
  width: 320,
  height: 480,
  couchLocation: 'http://yomobi.couchone.com',
  db_name: 'chipotle',
  username: 'admin_chipotle',
  password: '123123',
  appData: {
    company: "chipotle"
  }
};
window.widgetClasses = {};
window.widgetPages = {};
window.widgetEditors = {};

_.templateSettings = {
  interpolate: /\{\{([^\{].*?)\}\}/g,
  evaluate: /\{\{\{(.+?)\}\}\}/g
};

// wdata = [
//   {
//     name:  "full-website",
//     wtype: "link",
//     url:   "http://www.google.com"
//   },
//   {
//     name: "about-us",
//     wtype: "custom_page",
//     content: "<h1>About Us</h1><p>This is our mobile website. Lorem ipsum dolor sit amet, "+
//              "consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et "+
//              "dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation "+
//              "ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor "+
//              "in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
//   }
// ];

bdata = {
  "full-website": {
    name: "full-website",
    wtype: 'link',
    helpText: "Add a link from your YoMobi mobile website to your full website."
  },
  
  "about-us": {
    name: "about-us",
    wtype: 'custom_page',
    helpText: "A page describing what your business is about."
  },
  
  "call-us": {
    name: "call-us",
    wtype: 'phone',
    helpText: "Add a number for one-click calling."
  },
  
  "leave-a-message": {
    name: "leave-a-message",
    wtype: 'leave_msg',
    helpText: "Allow your customers to leave you an email message."
  },
  
  "hours-of-operation": {
    name: "hours-of-operation",
    wtype: 'hours',
    helpText: "Let your customers know when you're open for business."
  }
}

for (var wname in bdata) {
  bdata[wname].order = 0;
  bdata[wname].editAreaTemplate = util.getTemplate(wname + '-edit-area');
}

</script>