<div class="site-links">
  <a href="<%= about_path %>">About</a>    <span class="dot">&middot;</span>
  <a href="<%= privacy_path %>">Privacy</a>  <span class="dot">&middot;</span>
  <a href="<%= terms_path %>">Terms</a>    <span class="dot">&middot;</span>
  <a href="mailto:feedback@yomobi.com">Feedback</a> <span class="dot">&middot;</span>
  <a href="#">Help</a>
</div>
