<div class="footer-wrapper">
  <div class="footer-text">
    <a href="#" class="footerlink">About</a> ·
    <a href="#" class="footerlink">Privacy</a> ·
    <a href="#" class="footerlink">Terms</a> ·
    <a href="#" class="footerlink">Feedback</a> ·
    <a href="#" class="footerlink">Help</a><br />
    All Right Reserved YoMobi © 2012
  </div>
</div>

