
<% if @meta %>
  <title><%= @meta[:title] %></title>
  <meta name="description" content="<%= @meta[:description] %>" />
  <meta name="keywords" content="<%= @meta[:keywords] %>" />

<% else %>

<title>Mobile Website Builder | Mobile Website | YoMobi</title>

<meta name="description" content="YoMobi is a mobile website builder that helps you reach more customers with a free mobile website.  Create your mobile website in minutes and reach your fans wherever they are." />

<meta name="keywords" content="mobile website builder, mobile website, free mobile website, website creator free, mobile web sites, mobile site builder, free mobile site builder, top mobile sites, mobi, mobile to web, mobile web design, mobile web browser, build mobile web site, mobile web development, free mobile website creator, mobile web page design, mobile web site design, mobi web design, mobi web designer, mobi web development, mobi Website Creator, mobi web page design, mobi web site design, mobi Site Builder, wap sites builder, wap page creator, creating a mobile website, how to build a mobile site, mobile web, mobi pcs, mobile, web, mobi" />

<% end %>
