<div id="about" class="yomobi-info-page">

  <h2>La misión de YoMobi es la de facilitar a todos su conexión a la revolución móvil.</h2>

  <ul class="language-bar">
	<li><a href="about">English</a></li>
	<li>·</li>
	<li><a href="about_es">Español</a></li>
  </ul>
  
  <p>Los teléfonos inteligentes han desplazado a las PC / ordenadores como el medio más popular de obtener información en línea. Este crecimiento exponencial en el uso de dispositivos móviles ha creado un paradigma completamente nuevo en cuanto al acceso a contenidos se refiere. Para tener éxito en esta revolución móvil, tienes que facilitar el que los visitantes te encuentren e interactúen contigo, donde quiera que ellos se estén y quienes quiera que ellos sean. Y es en esto en donde nosotros entramos en acción.</p>
  <br>
  <p>YoMobi es una plataforma gratuita que te permite construir rápidamente un sitio móvil optimizado, interactivo y funcional para las redes sociales. Hemos hecho que te sea fácil el conectarte a tu web móvil. Utiliza nuestra plataforma intuitiva para la administración de contenidos para construir el sitio a tu preferencia y para que pongas tu información en línea en tan sólo unos minutos. También hemos facilitado el que tus visitantes se pongan en contacto contigo. Nuestras funciones interactivas le permiten a tus visitantes el contactarte desde su dispositivo móvil. Y por último, hemos facilitado el que tu sitio se torne viral. Su integración a las redes sociales es una característica automática de todo sitio YoMobi. El integrarse a la red móvil nunca fue tan fácil.</p>
  <br>
  <p>¡El mundo está en marcha! Movilízate con YoMobi.</p>
</div>
