<div id="about">

  <h2>YoMobi's mission is to make it easy for everyone to join the mobile revolution.</h2>

  <p>Smart phones are overtaking the PC as the most popular way to get information online. This exponential growth in the use of mobile devices has created a whole new paradigm for accessing content. To succeed in the mobile revolution, you have to make it easy for visitors to find and interact with you wherever and whenever they are. That's where we come in.</p>
  <br>
  <p>YoMobi is a free platform that allows you to quickly build an interactive, social-media ready, mobile-optimized site. We've made it easy for you to join the mobile web. Use our simple and intuitive content management platform to build your custom site and put your information online in minutes. We've also made it easy for your visitors to get in touch with you. Our interactive widgets let visitors contact you from their mobile device. Finally, we've made it easy for your site to go viral. Social media integration is an automatic part of every YoMobi site. Joining the mobile web has never been so easy.</p>
  <br>
  <p>The world is on the go! Get mobilized with YoMobi.</p>
</div>
