<div id="payment_terms" class="yomobi-info-page">
  <h2>Payment Terms</h2>

  <ul class="language-bar">
  <li><a href="payment_terms.html">English</a></li>
  <li>·</li>
  <li><a href="payment_terms_es.html">Español</a></li>
  </ul>

  <div class="marketing">
  <p>All payments in connection with this site or service are <u>non-refundable and non-cancelable</u>. Subscriptions shall be cancelable at any time, and you shall not be charged for any subsequent subscription fees, however any payments already made shall not be refunded. You shall be fully responsible for the payment of any taxes that apply to this agreement, and your use of the site or the service. The service, including without limitation payment processing, may be handled directly by us or by online third parties. Where a third party handles a payment, the payment is subject to the terms of use and privacy policy of such third party (including among others payment methods, tax liability, collection and use of your personal information, and support levels). We recommend that you review the terms of use and privacy policy of such third parties before submitting any personal information and using such third parties' services.</p>
  </div>
</div>