<div id="plans" class="yomobi-info-page">

  <h2>Planes para Sitios M&oacute;viles</h2>

  <ul class="language-bar">
  <li><a href="plans">English</a></li>
  <li>·</li>
  <li><a href="plans_es">Espa&ntilde;ol</a></li>
  </ul>

  <h3>H&aacute;zlo T&uacute; Mismo</h3>

  <p>YoMobi brinda una sencilla y gratuita soluci&oacute;n a personas y negocios para crear su propio sitio web m&oacute;vil optimizado. Con un m&iacute;nimo de habilidad t&eacute;cnica y tiempo, puedes crear tu propio sitio m&oacute;vil para beneficiarte de inmediato al ofrecer a tus clientes una mejor y m&aacute;s interactiva experiencia m&oacute;vil.<p>
  <br/>
  <p>La misi&oacute;n de YoMobi es el brindar un comprensible entorno m&oacute;vil integral que incluya todas las caracter&iacute;sticas que necesitas para prosperar en el acelerado medio del comercio web m&oacute;vil, con una m&iacute;nima inversi&oacute;n de tiempo, dinero y esfuerzo.</p>
  <br/>

  <div class="plan-box">
    <h3>Plan Est&aacute;ndar</h3>
    <h3>Costo:</h3>
    <ul>
      <li>Gratuito</li>
    </ul>
    <h3>Caracter&iacute;sticas:</h3>
    <ul>
      <li>Hospedaje Gratuito</li>
      <li>Dominio Gratuito ([nombredetusitio].yomobi.com)</li>
      <li>C&oacute;digo de Redirecci&oacute;n Gratuito para conectar tu sitio tradicional con tu sitio m&oacute;vil</li>
      <li>Capacidad Gratuita para hacer env&iacute;os de mensajes SMS y de E-Mails colectivos <span class="notation-number">1</span></li>
      <li>Integraci&oacute;n Gratuita a Redes Sociales</li>
      <li>Funci&oacute;n Gratuita de Pulsar-para-Llamar</li>
      <li>Mapa de Ubicaci&oacute;n Gratuito con navegaci&oacute;n smartphone GPS</li>
      <li>Con P&aacute;ginas Modificables, Categor&iacute;as y Enlaces Ilimitados</li>
      <li>Soporte para Agregador RSS</li>
      <li>Desactivaci&oacute;n de Categor&iacute;as (para dar soporte a elementos temporales)</li>
      <li>Sitio Modificable de Manera Limitada</li>
      <li>Publicidad M&oacute;vil Discreta</li>
    </ul>
  </div>
  <div class="plan-box">
    <h3>Plan a la Medida</h3>
    <h3>Costo:</h3>
    <ul>
      <li>$5 al mes</li>
      <li>$50 al a&ntilde;o</li>
    </ul>
    <h3>Caracter&iacute;sticas:</h3>
    <ul>
      <li>Todas las caracter&iacute;sticas del Plan Est&aacute;ndar, y adem&aacute;s:</li>
      <li>Dominio a la Medida (por ej.: m.tudominio.com)</li>
      <li>Modificaci&oacute;n Ampliada del Sitio</li>
      <li>Sin Publicidad</li>
    </ul>
  </div>
<div class="hr"></div>
<div>
  <h3>Deja Que YoMobi Arme Un Sitio Para Ti</h3>
  <p>Aunque la plataforma YoMobi es tan sencilla que lo puedes hacer t&uacute; mismo con un m&iacute;nimo de esfuerzo usando el contenido existente en tu sitio web tradicional o de tu p&aacute;gina de facebook, nos damos cuenta de lo ocupados que se encuentran los due&ntilde;os de los negocios, de modo que nos encantar&iacute;a iniciarte en esto armando un sitio para ti. Te ofrecemos un gran valor a un muy bajo precio, puesto que nuestra meta es hacer que el medio del comercio web m&oacute;vil sea accesible para todos.</p>
  <h3>Cuotas de Consultor&iacute;a:</h3>
  <ul>
  <li>$25 cuota fija por el armado de un sitio est&aacute;ndar <span class="notation-number">2</span></li>
  <li>$25 por hora en p&aacute;ginas adicionales</li>
  </ul>
  <p>Un sitio t&iacute;pico toma de 2 a 4 horas dependiendo del n&uacute;mero de p&aacute;ginas y productos/servicios a subir. Si quisieras que armasemos tu sitio, cont&aacute;ctanos por favor en <a href="mailto:support@yomobi.com">support@yomobi.com</a>. Una vez que hayamos armado tu sitio, transferiremos la propiedad del sitio hacia ti. Tambi&eacute;n te podemos instruir en como usar y administrar de manera &oacute;ptima tu sitio por una cuota de consultor&iacute;a est&aacute;ndar.</p>
  <br/>
  <p>Una vez que un sitio es creado, las actualizaciones toman tan s&oacute;lo minutos y ser&aacute;s capaz de seguir d&aacute;ndole mantenimiento t&uacute; mismo de manera sencilla.
  </p>
</div>

<div class="notation-text">
<ol>
<li>Algunos l&iacute;mites de uso pueden aplicarse</li>
<li>Un sitio est&aacute;ndar incluye las siguientes caracter&iacute;sticas y p&aacute;ginas: Quienes Somos, Ll&aacute;manos (pulsar para llamar), Encu&eacute;ntranos (mapa interactivo con navegaci&oacute;n smartphone GPS), Horas H&aacute;biles, Cup&oacute;n, Mant&eacute;nganme Informado, Deja un Mensaje, Regr&eacute;same la Llamada, y Enlaces hacia tu sitio tradicional, p&aacute;gina de facebook y cuenta de twitter, en caso de que sea aplicable.</li>
</ol>
</div>