<div id="privacy" class="yomobi-info-page">

<h2>Política de Privacidad</h2>

<ul class="language-bar">
<li><a href="privacy">English</a></li>
<li>·</li>
<li><a href="privacy_es">Español</a></li>
</ul>

<h3>¿Qué información pedimos? </h3>

<p>Capturamos la información que nos das al registrarte o al llenar algún formato.</p>
<br>
<p>Cuando ordenas algo o cuando te registras en nuestro sitio, como es natural, se te puede pedir que ingreses tus datos: nombre, dirección de e-mail, domicilio postal o número de teléfono. Puedes, sin embargo, visitar nuestro sitio de manera anónima.</p>
<br>
<p>Google, que es un proveedor en calidad de tercero, utiliza cookies para colocar anuncios en nuestro sitio. El uso de cookies tipo DART por parte de Google le permite colocar anuncios para tus usuarios basado en la visita de tus usuarios a nuestro sitio y a otros sitios en internet. Los usuarios pueden optar por renunciar al uso de las cookies tipo DART visitando la página de la  política de publicidad y privacidad en los contenidos de red de Google.</p>

<h3>¿Para qué usamos tu información?</h3>

<p>Cualquier información que capturemos de ti puede ser usada de alguna de las siguientes formas:</p>
<br>
<ol>
<li>
Para personalizar tu experiencia<br />
(tu información nos ayuda a responder mejor a tus necesidades individuales)
</li>
<li>
Para mejorar nuestro sitio web<br />
(nos esforzamos de manera constante en mejorar lo que brinda nuestro sitio web basándonos en la información y comentarios que recibimos de ti)
</li>
<li>
Para mejorar nuestro servicio al cliente<br />
(tu información nos ayuda a responder de manera efectiva a tus solicitudes de servicio a cliente y apoyarte en lo que necesitas)
</li>
<li>
Para procesar transacciones<br />
Tu información, sea ésta pública o privada, no se puede vender, intercambiar, transferir, o dar a cualquier otra empresa por ningún motivo, sin tu consentimiento, a no ser por el propósito expreso de proporcionarte el producto o servicio que hubieras solicitado.
</li>
<li>
Para llevar a cabo concursos, promociones, encuestas o cualquier otra actividad del sitio
</li>
<li>
Para enviarte emails periódicos<br />
Nota: Si en cualquier momento desearas anular tu suscripción para recibir emails en lo futuro, te incluimos instrucciones detalladas para anular tu suscripción en las últimas líneas de cada email.
</li>
</ol>
<h3>¿Cómo protegemos tu información?</h3>

<p>Implementamos una serie de medidas de seguridad para mantener la seguridad de tu información personal cuando tú ingresas, envías o accedes a tu información personal.</p>

<h3>¿Usamos cookies?</h3>

<p>Sí (las Cookies son pequeños archivos que un sitio o de alguno de sus proveedores de servicios transfiere al disco duro de tu computadora a través de tu navegador de internet, (si lo permites) eso da cabida a que los sitios o los sistemas de los proveedores de servicio reconozcan tu navegador y capturen o recuerden cierta información</p>
<br>
<p>Utilizamos cookies para entender y guardar tus preferencias para futuras visitas, dar seguimiento de la publicidad y acumular los datos globales sobre el tráfico e interacción con el sitio, de modo que podamos ofrecer mejores servicios y herramientas para el futuro. Podemos contratar los servicios de un tercero para ayudarnos a entender mejor a nuestros visitantes. Estos proveedores de servicios no están autorizados a utilizar la información capturada a nuestro nombre, excepto para ayudarnos a dirigir y mejorar nuestros negocios.</p>
<br>
<p>Si así lo prefieres, puedes elegir que tu computadora te advierta cada vez que una cookie le es enviada, o puedes elegir inhabilitar las cookies mediante ajustes en tu navegador. Como la mayoría de los sitios web, si inhabilitas las cookies, algunos de nuestros servicios puede no funcionar de la manera más adecuada. Sin embargo, podrás seguir haciendo pedidos haciendo contacto con servicio al cliente.</p>

<h3>¿Revelamos alguna información a entidades externas?</h3>

<p>Nosotros no vendemos, ni comerciamos, ni transferimos de ninguna manera a entidades o partes externas tu información individualmente identificable. Esto no abarca a terceros de confianza que nos ayudan en la operación de nuestro sitio web, manejo de nuestros negocios, o brindando algún servicio para ti, de modo que todas estas entidades tienen un acuerdo para mantener esta información de manera confidencial. Nosotros podemos también liberar tu información cuando consideremos hacerlo para cumplir con la ley, hacer cumplir las políticas de nuestro sitio, o para proteger nuestros derechos o los de terceros, en su propiedad y en su seguridad. Sin embargo, la información del visitante que no sea individualmente identificable puede ser suministrada a otras entidades para propósitos de marketing, publicidad o usos afines.</p>

<h3>Enlaces a terceros </h3>

<p>Ocasionalmente, a nuestro criterio, podemos incluir u ofrecer productos o servicios de terceros en nuestro sitio web. Estos sitios de terceros tienen políticas de privacidad independientes respecto a las nuestras. Por lo tanto, no asumimos ninguna responsabilidad u obligación acerca del contenido y actividades de estos sitios vinculados. Sin embargo, buscamos proteger la integridad de nuestro sitio y agradecemos cualquier comentario sobre estos sitios.</p>

<h3>Cumplimiento con el Acta de Protección a la Privacidad En Línea de California</h3>

<p>Debido a que valoramos tu privacidad, hemos tomado las debidas precauciones para cumplir con el Acta de Protección a la Privacidad En Línea de California. Por lo tanto, no distribuiremos tu información personal a entidades externas sin tu consentimiento.</p>
<br>
<p>Como parte del Acta de Protección a la Privacidad En Línea de California, todos los usuarios de nuestro sitio pueden hacer cualquier cambio en su información en cualquier momento con tan sólo iniciar sesión en nuestra página de registro y entrando a la página 'Editar Perfil'.</p>

<h3>Cumplimiento del Acta de Protección de la Privacidad en Línea de Menores</h3>

<p>Nosotros en cumplimiento de las exigencias de la COPPA (Acta de Protección de la Privacidad en Línea de Menores), nosotros no capturamos ninguna información de persona alguna que sea menor de 13 años de edad. Nuestro sitio web, nuestros productos y servicios, están todos orientados hacia personas que tengan al menos 13 años de edad..</p>

<h3>Política Exclusiva de Privacidad en Línea</h3>

<p>Esta política exclusiva de privacidad en línea aplica únicamente a la información capturada a través de nuestro sitio web y no de la obtenida fuera de línea.</p>

<h3>Términos y Condiciones</h3>

<p>Visita también por favor nuestra sección de Términos y Condiciones en donde se establece el uso, descargos de responsabilidades y límites de responsabilidad que rigen el uso de nuestro sitio web en<a href="http://www.yomobi.com/"> http://www.yomobi.com</a></p>

<h3>Tu Consentimiento</h3>

<p>Por el hecho de usar nuestro sitio, das el consentimiento a la política de privacidad de nuestros sitios web.</p>

<h3>Cambios en nuestra Política de Privacidad</h3>

<p>Si decidimos cambiar nuestra política de privacidad, publicaremos tales cambios en esta página, y/o actualizaremos la fecha de modificación de la Política de Privacidad que aparece abajo</p>

<p>Esta política de privacidad fue modificada por última vez el 30 de Julio de 2011</p>

<h3>Contáctanos</h3>

<p>Si tienes cualquier duda o pregunta respecto a esta política de privacidad, te puedes contactar con nosotros usando la siguiente información.</p>
<br>
<p><a href="http://www.yomobi.com">www.YoMobi.com</a><br />
Austin, Texas<br>
78701<br />
USA<br />
<a href="mailto:support@yomobi.com">support@yomobi.com</a><br />
</p>

</div>
