
<div id="why_mobile" class="yomobi-info-page">

<h1>Es importante contar con un sitio web optimizado para móviles.</h1>

<ul class="language-bar">
<li><a href="why-mobile">English</a></li>
<li>·</li>
<li><a href="why-mobile_es">Español</a></li>
</ul>

<h2>Cuando no tienes un sitio móvil:</h2>
<ul class="bold_list">
<li><span class="hilite">Los clientes existentes están frustrados y pierdes la oportunidad de tener ingresos.</span></li>
<li><span class="hilite">El alcance hacia nuevos clientes se reduce</span> debido a que cada vez más gente navega por la red a través de sus móviles.</li>
<li><span class="hilite">El 40% de tus visitantes móviles se irán con un competidor</span> después de una mala experiencia móvil.</li>
<li><span class="hilite">El 57% de de tus clientes no te recomendarán</span> si tienes un sitio móvil deficiente.</li>
</ul>
<br/>
<hr/>
<div id="container">
<iframe src="http://www.howtogomo.com/en/d/why-go-mo/#reasons-mobile-matters" scrolling="no"></iframe>
</div>
</div>
