/* Generic */
/* line 10, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

/* line 17, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
.tabs, .title {
  display: none;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form input[type=text], form textarea {
  padding: 4px 3px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  color: #17171B;
  font-size: 12px !important;
  font-weight: normal;
  border: 1px solid #b5b7c4;
}
/* line 34, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form .panel > table {
  width: 100%;
  border-collapse: collapse;
}
/* line 39, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form .panel > table > tbody > tr > td:first-child {
  text-align: left;
  padding-right: 15px;
}
/* line 43, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form .panel > table > tbody > tr > td:first-child label {
  font-weight: bold;
  color: #222;
}
/* line 50, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form .panel > table > tbody > tr > td:last-child input[type=text] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(25%, #f9f9f9), color-stop(25%, #f9f9f9), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f9f9f9 25%, #f9f9f9 25%, #ffffff 50%, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #f9f9f9 25%, #f9f9f9 25%, #ffffff 50%, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #f9f9f9 25%, #f9f9f9 25%, #ffffff 50%, #ffffff);
  background-image: linear-gradient(top, #f0f0f0, #f9f9f9 25%, #f9f9f9 25%, #ffffff 50%, #ffffff);
}
/* line 59, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form[name=source] #wrapline label {
  font-weight: bold;
  font-size: 12px;
}
/* line 64, ../../../../../../../../../.rvm/gems/ruby-1.9.2-p290@yomobi/gems/locomotive_cms-2.0.0.rc11/app/assets/javascripts/tinymce/themes/advanced/skins/locomotive/dialog.css.scss */
form[name=source] textarea#htmlSource {
  width: 718px !important;
  margin-top: 10px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(4px, #f9f9f9), color-stop(4px, #f9f9f9), color-stop(12px, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f9f9f9 4px, #f9f9f9 4px, #ffffff 12px, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #f9f9f9 4px, #f9f9f9 4px, #ffffff 12px, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #f9f9f9 4px, #f9f9f9 4px, #ffffff 12px, #ffffff);
  background-image: linear-gradient(top, #f0f0f0, #f9f9f9 4px, #f9f9f9 4px, #ffffff 12px, #ffffff);
}
