#header-wrap
  background: url('/assets/header-bg.png') $blue repeat-x center bottom
  //height: 180px
  padding-bottom: 71px
  
#header-top
  +clearfix
  a
    text-decoration: none
  .btn-img
    float: left
    margin-left: 20%
  & > .leftcol
    +logo(50px, 223px)
  .rightcol
    margin-bottom: 10px

.logo
  +margin-leader(1.5)
  +margin-trailer(1.5)
  & > .content
    a
      +background-contain("logo.png")
      width: 100%
.user-menu
  +margin-leader(1)
  +margin-trailer(1)
  +hidden-515
  +clearfix
  ul
    float: right
    width: 84%
    li
      +adjust-font-size-to(15px)
      border-right: 1px solid $white
      float: left
      font-family: $sans-serif
      padding: 0 3%
      text-align: center
      &.last
        border-right: none
      a,
      .a
        display: block
      &:hover
        a
          text-decoration: underline

.social-menu
  +social-menu(40px, 40px, "social-menu-bg.png", 10px)
  float: right
  margin: -3px 0 0 10px
  li
    &.twitter
      background-position: 0 -40px
    &.youtube
      background-position: 0 -80px
