#footer-wrap
  font-family: $sans-serif
  //background: url('/assets/footer-bg.png') $blue repeat-x center top
  background: #43a8c7; /* Old browsers */
  background: -moz-linear-gradient(top,  #257992 0%, #257992 2%, #328da9 7%, #3ea0be 14%, $blue 21%, $blue 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#257992), color-stop(2%,#257992), color-stop(7%,#328da9), color-stop(14%,#3ea0be), color-stop(21%,$blue), color-stop(100%,$blue)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #257992 0%,#257992 2%,#328da9 7%,#3ea0be 14%,$blue 21%,$blue 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #257992 0%,#257992 2%,#328da9 7%,#3ea0be 14%,$blue 21%,$blue 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #257992 0%,#257992 2%,#328da9 7%,#3ea0be 14%,$blue 21%,$blue 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #257992 0%,#257992 2%,#328da9 7%,#3ea0be 14%,$blue 21%,$blue 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#257992', endColorstr='$blue',GradientType=0 ); /* IE6-9 */



.copyright
  color: $white
  p
    +adjust-font-size-to(12px)

.secondary-menu
  +hidden-320
  +margin-leader(0.5)
  ul
    float: right
    width: 51%
  li
    float: left
    font-size: 12px
    font-family: $sans-serif
    padding: 0 2%
    a,
    .a
      display: block

#footer-wrap
  .user-menu
    +visible-320
    ul
      width: 93%
      li
        border-right: none
        float: left
        font-size: 12px
        font-family: $sans-serif
        padding: 0 2%
        a,
        .a
          display: block
    ul, x:-moz-any-link
      width: 95%
