#header-wrap
  height: 180px
  background: url('/assets/header-bg.png') $blue repeat-x center bottom
  //background-color: $blue; /* Old browsers */
  //background: -moz-linear-gradient(top,  $blue 0%, $blue 82%, #3d9fbc 90%, #338fab 95%, #257992 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$blue), color-stop(82%,$blue), color-stop(90%,#3d9fbc), color-stop(95%,#338fab), color-stop(100%,#257992)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  $blue 0%,$blue 82%,#3d9fbc 90%,#338fab 95%,#257992 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  $blue 0%,$blue 82%,#3d9fbc 90%,#338fab 95%,#257992 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  $blue 0%,$blue 82%,#3d9fbc 90%,#338fab 95%,#257992 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  $blue 0%,$blue 82%,#3d9fbc 90%,#338fab 95%,#257992 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='#257992',GradientType=0 ); /* IE6-9 */  

#header-top
  +clearfix
  a
    text-decoration: none
  .btn-img
    float: left
    margin-left: 20%
  & > .leftcol
    +logo(50px, 223px)

.logo
  +margin-leader(1.5)
  +margin-trailer(1.5)
  & > .content
    a
      +background-contain("logo.png")
      width: 100%
.user-menu
  +margin-leader(1)
  +margin-trailer(1)
  +hidden-515
  +clearfix
  ul
    float: right
    width: 84%
    li
      +adjust-font-size-to(15px)
      border-right: 1px solid $white
      float: left
      font-family: $sans-serif
      padding: 0 3.5%
      text-align: center
      &.last
        border-right: none
      a,
      .a
        display: block
      &:hover
        a
          text-decoration: underline

.social-menu
  +social-menu(40px, 40px, "social-menu-bg.png", 10px)
  float: right
  margin: -3px 0 0 10px
  li
    &.twitter
      background-position: 0 -40px
    &.youtube
      background-position: 0 -80px
