#footer-wrap
  .user-menu
    display: none
#header-wrap
  & > .main-menu
    & > .content
      & > ul
        background: #96cb81
        & > li
          &:hover
            background: #5a8a52
          &.active-trail
            background: #5a8a52


.secondary-menu
  ul
    float: right
    width: 52%