<p>Hello <%= @resource.first_name %>,</p>

<p>Thank you for registering with YoMobi.</p>

<p>
Please confirm your email address to continue the registration: 
<%= link_to 'Confirm Now', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token,:uid => @resource[:id]) %>
</p>

<p>
Sincerely,<br />
YoMobi Team<br />
<a href="mailto:support@yomobi.com">support@yomobi.com</a>
</p>
